openapi: 3.2.0
info:
  title: Vinculum Products API
  description: API to retrieve or manipulate SKU related information.
servers:
- url: https://erp.vineretail.com
tags:
- name: Products
  description: API to retrieve or manipulate SKU related information.
paths:
  /RestWS/api/eretail/v1/sku/create:
    post:
      tags:
      - Products
      summary: Max no. of lines/hit:100 API For Creating Sku(Hit Quota 40/5 min)
      responses:
        200:
          description: <table border='1'width='672'>  <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9</p></td><td style="vertical-align:middle" width='167'><p>Sku Defaults Not set in gCodelookup, needed atleast 8 defaults as Hierarchy,TaxCategory,Classification,Source,AttributeSet,Vendor,Status,Rotation,UOM</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>701</p></td><td style="vertical-align:middle" width='167'><p>Maximum Limit Exceeded(100 SKUs Max)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1001</p></td><td style="vertical-align:middle" width='167'><p>Specified Vendor [" ** "] not found in the system.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1004</p></td><td style="vertical-align:middle" width='167'><p>Size Not Found in Configurations.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1014</p></td><td style="vertical-align:middle" width='167'><p>Invalid Sku Classification **</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1015</p></td><td style="vertical-align:middle" width='167'><p>Parent Sku does not exist in the system</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1016</p></td><td style="vertical-align:middle" width='167'><p>Parent Sku is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1017</p></td><td style="vertical-align:middle" width='167'><p>Style Attribute is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1018</p></td><td style="vertical-align:middle" width='167'><p>Size is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1019</p></td><td style="vertical-align:middle" width='167'><p>Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1020</p></td><td style="vertical-align:middle" width='167'><p>Size|Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1020</p></td><td style="vertical-align:middle" width='167'><p>Size is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1021</p></td><td style="vertical-align:middle" width='167'><p>Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1022</p></td><td style="vertical-align:middle" width='167'><p>Invalid Style Attribute</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1024</p></td><td style="vertical-align:middle" width='167'><p>Invalid isUniqueBarcode</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1025</p></td><td style="vertical-align:middle" width='167'><p>Cant change classification for SKU</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1035</p></td><td style="vertical-align:middle" width='167'><p>Invalid ClientID  **</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31003</p></td><td style="vertical-align:middle" width='167'><p>Invalid SKU Classification</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31004</p></td><td style="vertical-align:middle" width='167'><p>Invalid SKU Source imported</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31005</p></td><td style="vertical-align:middle" width='167'><p>Invalid Size imported</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31006</p></td><td style="vertical-align:middle" width='167'><p>Invalid Color imported</p></td></tr></tbody></table>  <table width='672'><tbody><tr><td style="vertical-align:middle" colspan=5> <b>Case 1- For Single SKU Submitted<br/> {<br/> &nbsp;"responsecode":"0",</br>&nbsp;"responseMessage":"Success"<br/>&nbsp;"requestStatus":<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"TEST1234",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"TEST1234",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":null,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Success",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":null<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/><br/>}</b><br/><br/> <b>Case 2- For Multiple SKU Submitted<br/>{<br/> &nbsp;"responseCode":0,</br>&nbsp;"responseMessage":"Success",<br/>&nbsp;"requestId":"30ee612f5ccd425cb37781a262592807"<br/>&nbsp;}</b><br/><br/></tbody></table>
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                RequestBody:
                  type: string
                  description: '<table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width=''100''><strong>Field Name </strong></td><td style="vertical-align:middle" width=''100''><strong>Data Type </strong></td><td style="vertical-align:middle" width=''100''><strong>Mandatory </strong></td><td style="vertical-align:middle" width=''300''><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Unique identifier for the SKU</td></tr><tr align="center"><td style="vertical-align:middle">fnvtype</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Repack,crossdock (FnV type is only mandatory when sku classification is FnV).</td></tr><tr align="center"><td style="vertical-align:middle">skuName</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Descriptive name of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">classification</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Possible Values Normal,Style,Variant,BOM,fnV (default Normal)</td></tr><tr align="center"><td style="vertical-align:middle">bomType</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Mandatory when Classification is BOM else NonMandatory</td></tr><tr align="center"><td style="vertical-align:middle">bundledArticleList</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Mandatory when Classification is BOM else NonMandatory</td></tr><tr align="center"><td style="vertical-align:middle">styleAttribute</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Mandatory when Classification is Style, Possible Values Size ,Colour, Size|Colour</td></tr><tr align="center"><td style="vertical-align:middle">parentSKU</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Mandatory when Classification is Variant</td></tr><tr align="center"><td style="vertical-align:middle">skuGrade</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">quality/condition/category grade attached to a SKU</td></tr><tr align="center"><td style="vertical-align:middle">gradableSku</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Gradable Sku Code</td></tr><tr align="center"><td style="vertical-align:middle">minimumTransferQty</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Minimum quantity of the SKU that needs to be present in an STO</td></tr><tr align="center"><td style="vertical-align:middle">transferUnitFactor</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The multiple in which the SKU may be added to an STO</td></tr><tr align="center"><td style="vertical-align:middle">detailDesc</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A detailed description of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">length</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The length of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">width</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The Width of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">height</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The Height of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">weight</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The Weight of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">size</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">If not exists system will create size automatically</td></tr><tr align="center"><td style="vertical-align:middle">color</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">If not exists system will create color automatically</td></tr><tr align="center"><td style="vertical-align:middle">brand</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">If not exists system will create brand automatically</td></tr><tr align="center"><td style="vertical-align:middle">mrp</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">MRP/MSRP of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">salePrice</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Selling Price of SKU</td></tr><tr align="center"><td style="vertical-align:middle">Vendorcode</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Unique code assigned to a vendor supplying the SKU</td></tr><tr align="center"><td style="vertical-align:middle">vendorName</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Name of the vendor supplying the SKU</td></tr><tr align="center"><td style="vertical-align:middle">baseCost</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Cost price of the SKU before tax and other charges</td></tr><tr align="center"><td style="vertical-align:middle">taxCategory</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">The applicable tax category for the SKU</td></tr><tr align="center"><td style="vertical-align:middle">isActive</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">yes/no, default Yes</td></tr><tr align="center"><td style="vertical-align:middle">lottableValidation</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">If not passed API will pick default lottable validation from masters</td></tr><tr align="center"><td style="vertical-align:middle">pdpURL</td><td style="vertical-align:middle">Varchar(250)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Product Page URL</td></tr><tr align="center"><td style="vertical-align:middle">serialTrackingRequired</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">yes/no</td></tr><tr align="center"><td style="vertical-align:middle">serialCount</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Count of IMEI no in case serial tracking is enabled. Max value can be 3, default is 1,Possible values are 1 ,2,3.</td></tr><tr align="center"><td style="vertical-align:middle">isSaleable</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">yes/no, default Yes</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf6</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf7</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf8</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf9</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf10</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">imageURL</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Image URL</td></tr><tr align="center"><td style="vertical-align:middle">category1</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merch Hierarchy config </td><tr align="center"><td style="vertical-align:middle">category2</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merch Hierarchy config </td></tr><tr align="center"><td style="vertical-align:middle">category3</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merch Hierarchy config </td></tr><tr align="center"><td style="vertical-align:middle">category4</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merch Hierarchy config </td></tr><tr align="center"><td style="vertical-align:middle">category5</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merchandise Hierarchy config (if level 5 is configured then all 5 category is mandatory)</td></tr><tr align="center"><td style="vertical-align:middle">lasthieracyCode</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">description of last category. If multiple category at last leaf then latest will be considered ) </td></tr><tr align="center"><td style="vertical-align:middle">isBackOrder</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Yes/no</td></tr><tr align="center"><td style="vertical-align:middle">backOrderQty</td><td style="vertical-align:middle">decimal(10,3)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory if isBackorder is passed as yes</td></tr><tr align="center"><td style="vertical-align:middle">vendorSkuCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Seller SKU code if any</td></tr><tr align="center"><td style="vertical-align:middle">upc_ean</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Product Barcode</td></tr><tr align="center"><td style="vertical-align:middle">barcodeType</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Barcode Type</td></tr><tr align="center"><td style="vertical-align:middle">material</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle"></td></tr><tr align="center"><td style="vertical-align:middle">isUniqueBarcode</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">1. If this flag is passed as yes then at the time of inbound/adjustment system will generate unique barcode of that SKU.<br/>2. All transaction will be done on the basic of unique barcode only</td></tr><tr align="center"><td style="vertical-align:middle">shippingCharges</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Shipping charges</td></tr><tr align="center"><td style="vertical-align:middle">pickingInstruction</td><td style="vertical-align:middle">Varchar(500)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Picking Instructions configured in Other Masters.</td></tr><tr align="center"><td style="vertical-align:middle">shipingInstruction</td><td style="vertical-align:middle">Varchar(500)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Shipping instructions configured in Other Masters.</td></tr><tr align="center"><td style="vertical-align:middle">careIntructions</td><td style="vertical-align:middle">Varchar(500)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Care Instructions, if any</td></tr><tr align="center"><td style="vertical-align:middle">budf1</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf2</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf3</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf4</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf5</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf6</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf7</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf8</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">isStocked</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">isPoisnous</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">isHazardous</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">hazmatUNCode </td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Applicable only when isHazardous or isPoisnous is true. Format:- Key3|Key1 </td></tr><tr align="center"><td style="vertical-align:middle">shelfLifeIndicator</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">shelfType</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Expiry date or Mfg date</td></tr><tr align="center"><td style="vertical-align:middle">totalShelfLife</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It is No. of Days. Possible values are 1, 2, 3 etc.</td></tr><tr align="center"><td style="vertical-align:middle">shelfLifeOnPicking</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It is No. of Days. Possible values are 1, 2, 3 etc.</td></tr><tr align="center"><td style="vertical-align:middle">shelfLifeOnReceiving</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It''s No. of Days. Possible values are 1, 2, 3 etc.</td></tr><tr align="center"><td style="vertical-align:middle">skuLevelTaxCat</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">SKU Level Tax Code</td></tr><tr align="center"><td style="vertical-align:middle">skuRotation</td><td style="vertical-align:middle">Varchar(4)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are LIFO, FIFO, FEFO</td></tr><tr align="center"><td style="vertical-align:middle">locations</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">List of locCode for link to store</td></tr><tr align="center"><td style="vertical-align:middle">countryOfOrigin</td><td style="vertical-align:middle">Varchar</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Sku creation country name</td></tr><tr align="center"><td style="vertical-align:middle">uom</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Pass UOM name</td></tr><tr align="center"><td style="vertical-align:middle">additionalCess</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle"> optional</td><td style="vertical-align:middle">Possible values are Central Non-Advol, State Non-Advol</td></tr><tr align="center"><td style="vertical-align:middle">additionalCessUnit</td><td style="vertical-align:middle">decimal(10,3)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory when additionalCess is added.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg1</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the primary image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg2</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the secondary image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg3</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the third image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg4</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the fourth image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg5</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the fifth image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg6</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the sixth image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">isPurchasable</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO</td></tr><tr align="center"><td style="vertical-align:middle">isStackable</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO</td></tr><tr align="center"><td style="vertical-align:middle">thresholdQty</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Minimum qty for stock required</td></tr><tr align="center"><td style="vertical-align:middle">handlingCharges</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Additional charges for handling the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">stdMargin</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Standard margin percentage applied to the SKU</td></tr><tr align="center"><td style="vertical-align:middle">rotateBy</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The lotting parameter on which SKU allocation is to be done. Defined in codelkup with lkupcode ''ROTATEBY''</td></tr><tr align="center"><td style="vertical-align:middle">recvValidationCode</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Code used for validating SKU during receiving process</td></tr><tr align="center"><td style="vertical-align:middle">thresholdAlertReq</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO</td></tr><tr align="center"><td style="vertical-align:middle">isARSApplicable</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO</td></tr><tr align="center"><td style="vertical-align:middle">stockCoverDays</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Number of days stock is expected to last based on sales trends</td></tr><tr align="center"><td style="vertical-align:middle">grossWeight</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Total weight of the SKU including packaging</td></tr><tr align="center"><td style="vertical-align:middle">isCostbasedonMargin</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO. If Yes Cost is calculated based on stdMrgin</td></tr><tr align="center"><td style="vertical-align:middle">taxPercent </td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Tax percent of SKU </td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Max Allowance - 100 skuList item at a time</td></tr><tr><td  colspan=5></b><br/> <b> Case 1:- When classification is  BOM :<br/>{<br/>&nbsp;"skuList":<br/>[<br/>&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":"TEST123",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuName":"Test&nbsp;SKU",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"classification":"BOM",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"bomType":"physical",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"bundledArticleList":[{<br/>&nbsp;&nbsp;&nbsp;&nbsp; "skuCode":"TEST123",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"qty":"1"<br/>&nbsp;&nbsp;&nbsp;&nbsp;}],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"styleAttribute":"Size|Colour",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"parentSKU":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuGrade":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"gradableSku":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"detailDesc":"Test&nbsp;SKU",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fnvtype":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"minimumTransferQty":"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"transferUnitFactor":"4",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"length":"12.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"width":"11.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"height":"10.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"weight":"1.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"size":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"uom":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"color":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"brand":"Lenovo",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"mrp":"123.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"salePrice":"123.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorCode":"122001",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"baseCost":"110.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"taxCategory":"TAX20.00%",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isActive":"yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"lottableValidation":"0101",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"pdpURL":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"serialTrackingRequired":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"serialCount":"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isSaleable":"yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf9":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf10":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"pickingInstruction":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shipingInstruction":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"careIntructions":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"imageURL":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"lasthieracyCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isBackOrder":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"backOrderQty":"1",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorSkuCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"upc_ean":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"barcodeType":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"material":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isUniqueBarcode":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shippingCharges":"100",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isStocked":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isPoisnous":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isHazardous":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"hazmatUNCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeIndicator":"Yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfType":"Expiry date",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"totalShelfLife":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeOnPicking":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeOnReceiving":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuLevelTaxCat":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuRotation":"LIFO",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"locations":["NWB"],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"countryOfOrigin":"UNITED STATES",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"additionalCess":"Central Non-Advol",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"additionalCessUnit":"10.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg1":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg2":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg3":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg4":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg5":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg6":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isPurchasable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isStackable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"thresholdQty":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"handlingCharges":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"stdMargin":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"rotateBy":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"recvValidationCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"thresholdAlertReq":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isARSApplicable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"stockCoverDays":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"grossWeight":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"taxPercent":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isCostbasedonMargin":""<br/>&nbsp;&nbsp;}<br/>]<br/>}<br/><br/> Case 2:- When classification is  NOT BOM :<br/>{<br/>"skuList":[<br/>&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":"TEST123",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuName":"Test&nbsp;SKU",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"classification":"Style",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"styleAttribute":"Size|Colour",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"parentSKU":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuGrade":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"gradableSku":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"bomType":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"bundledArticleList":[{<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"qty":""<br/>&nbsp;&nbsp;&nbsp;&nbsp;}],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorName":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fnvtype":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"detailDesc":"Test&nbsp;SKU",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"minimumTransferQty":"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"transferUnitFactor":"4",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"length":"12.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"width":"11.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"height":"10.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"weight":"1.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"size":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"color":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"brand":"Lenovo",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"uom":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"mrp":"123.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"salePrice":"123.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorCode":"122001",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"baseCost":"110.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"taxCategory":"TAX20.00%",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isActive":"yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"lottableValidation":"0101",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"pdpURL":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"serialTrackingRequired":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"serialCount":"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isSaleable":"yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf9":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf10":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"pickingInstruction":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shipingInstruction":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"careIntructions":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"imageURL":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"lasthieracyCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isBackOrder":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"backOrderQty":"1",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorSkuCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"upc_ean":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"barcodeType":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"material":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isUniqueBarcode":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shippingCharges":"100",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isStocked":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isPoisnous":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isHazardous":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"hazmatUNCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeIndicator":"Yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfType":"Expiry date",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"totalShelfLife":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeOnPicking":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeOnReceiving":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuLevelTaxCat":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuRotation":"LIFO",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"locations":["NWB"],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"countryOfOrigin":"UNITED STATES",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"additionalCess":"Central Non-Advol",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"additionalCessUnit":"10.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg1":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg2":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg3":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg4":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg5":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg6":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isPurchasable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isStackable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"thresholdQty":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"handlingCharges":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"stdMargin":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"rotateBy":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"recvValidationCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"thresholdAlertReq":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isARSApplicable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"stockCoverDays":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"grossWeight":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"taxPercent":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isCostbasedonMargin":""<br/>&nbsp;&nbsp;}<br/>]<br/>}<br/><br/>

                    </td></tr></tbody></table>'
                ApiOwner:
                  type: string
                  description: This Field Will Be Used To Send API Owner
                ApiKey:
                  type: string
                  description: This is the API Key
              required:
              - RequestBody
              - ApiOwner
              - ApiKey
  /RestWS/api/eretail/v3/sku/create:
    post:
      tags:
      - Products
      summary: Max no. of Lines/Response:20 API For Order Invoice Pdf(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: ApiOwner
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'>  <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9</p></td><td style="vertical-align:middle" width='167'><p>Sku Defaults Not set in gCodelookup, needed atleast 8 defaults as Hierarchy,TaxCategory,Classification,Source,AttributeSet,Vendor,Status,Rotation,UOM</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>701</p></td><td style="vertical-align:middle" width='167'><p>Maximum Limit Exceeded(100 SKUs Max)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1001</p></td><td style="vertical-align:middle" width='167'><p>Specified Vendor [" ** "] not found in the system.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1004</p></td><td style="vertical-align:middle" width='167'><p>Size Not Found in Configurations.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1014</p></td><td style="vertical-align:middle" width='167'><p>Invalid Sku Classification **</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1015</p></td><td style="vertical-align:middle" width='167'><p>Parent Sku does not exist in the system</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1016</p></td><td style="vertical-align:middle" width='167'><p>Parent Sku is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1017</p></td><td style="vertical-align:middle" width='167'><p>Style Attribute is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1018</p></td><td style="vertical-align:middle" width='167'><p>Size is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1019</p></td><td style="vertical-align:middle" width='167'><p>Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1020</p></td><td style="vertical-align:middle" width='167'><p>Size|Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1020</p></td><td style="vertical-align:middle" width='167'><p>Size is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1021</p></td><td style="vertical-align:middle" width='167'><p>Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1022</p></td><td style="vertical-align:middle" width='167'><p>Invalid Style Attribute</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1024</p></td><td style="vertical-align:middle" width='167'><p>Invalid isUniqueBarcode</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1025</p></td><td style="vertical-align:middle" width='167'><p>Cant change classification for SKU</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1035</p></td><td style="vertical-align:middle" width='167'><p>Invalid ClientID  **</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31003</p></td><td style="vertical-align:middle" width='167'><p>Invalid SKU Classification</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31004</p></td><td style="vertical-align:middle" width='167'><p>Invalid SKU Source imported</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31005</p></td><td style="vertical-align:middle" width='167'><p>Invalid Size imported</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31006</p></td><td style="vertical-align:middle" width='167'><p>Invalid Color imported</p></td></tr></tbody></table>  <table width='672'><tbody><tr><td style="vertical-align:middle" colspan=5> <b>Case 1- For Single SKU Submitted<br/> {<br/> &nbsp;"responsecode":"0",</br>&nbsp;"responseMessage":"Success"<br/>&nbsp;"requestStatus":<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"TEST1234",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"TEST1234",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":null,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Success",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":null<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/><br/>}</b><br/><br/> <b>Case 2- For Multiple SKU Submitted<br/>{<br/> &nbsp;"responseCode":0,</br>&nbsp;"responseMessage":"Success",<br/>&nbsp;"requestId":"30ee612f5ccd425cb37781a262592807"<br/>&nbsp;}</b><br/><br/></tbody></table>
      requestBody:
        content:
          application/json:
            schema:
              properties:
                skuList:
                  type: array
                  items:
                    $ref: '#/components/schemas/skuV3Request'
        description: '<table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width=''100''><strong>Field Name </strong></td><td style="vertical-align:middle" width=''100''><strong>Data Type </strong></td><td style="vertical-align:middle" width=''100''><strong>Mandatory </strong></td><td style="vertical-align:middle" width=''300''><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Unique identifier for the SKU</td></tr><tr align="center"><td style="vertical-align:middle">fnvtype</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Repack,crossdock (FnV type is only mandatory when sku classification is FnV).</td></tr><tr align="center"><td style="vertical-align:middle">skuName</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Descriptive name of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">classification</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Possible Values Normal,Style,Variant,BOM,fnV (default Normal)</td></tr><tr align="center"><td style="vertical-align:middle">bomType</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Mandatory when Classification is BOM else NonMandatory</td></tr><tr align="center"><td style="vertical-align:middle">bundledArticleList</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Mandatory when Classification is BOM else NonMandatory</td></tr><tr align="center"><td style="vertical-align:middle">styleAttribute</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Mandatory when Classification is Style, Possible Values Size ,Colour, Size|Colour</td></tr><tr align="center"><td style="vertical-align:middle">parentSKU</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Mandatory when Classification is Variant</td></tr><tr align="center"><td style="vertical-align:middle">skuGrade</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">quality/condition/category grade attached to a SKU</td></tr><tr align="center"><td style="vertical-align:middle">gradableSku</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">*Conditional</td><td style="vertical-align:middle">Gradable Sku Code</td></tr><tr align="center"><td style="vertical-align:middle">minimumTransferQty</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Minimum quantity of the SKU that needs to be present in an STO</td></tr><tr align="center"><td style="vertical-align:middle">transferUnitFactor</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The multiple in which the SKU may be added to an STO</td></tr><tr align="center"><td style="vertical-align:middle">detailDesc</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A detailed description of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">length</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The length of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">width</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The Width of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">height</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The Height of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">weight</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The Weight of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">size</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">If not exists system will create size automatically</td></tr><tr align="center"><td style="vertical-align:middle">color</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">If not exists system will create color automatically</td></tr><tr align="center"><td style="vertical-align:middle">brand</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">If not exists system will create brand automatically</td></tr><tr align="center"><td style="vertical-align:middle">mrp</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">MRP/MSRP of the SKU</td></tr><tr align="center"><td style="vertical-align:middle">salePrice</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Selling Price of SKU</td></tr><tr align="center"><td style="vertical-align:middle">Vendorcode</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Unique code assigned to a vendor supplying the SKU</td></tr><tr align="center"><td style="vertical-align:middle">vendorName</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Name of the vendor supplying the SKU</td></tr><tr align="center"><td style="vertical-align:middle">baseCost</td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Cost price of the SKU before tax and other charges</td></tr><tr align="center"><td style="vertical-align:middle">taxCategory</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">The applicable tax category for the SKU</td></tr><tr align="center"><td style="vertical-align:middle">isActive</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">yes/no, default Yes</td></tr><tr align="center"><td style="vertical-align:middle">lottableValidation</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">If not passed API will pick default lottable validation from masters</td></tr><tr align="center"><td style="vertical-align:middle">pdpURL</td><td style="vertical-align:middle">Varchar(250)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Product Page URL</td></tr><tr align="center"><td style="vertical-align:middle">serialTrackingRequired</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">yes/no</td></tr><tr align="center"><td style="vertical-align:middle">serialCount</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Count of IMEI no in case serial tracking is enabled. Max value can be 3, default is 1,Possible values are 1 ,2,3.</td></tr><tr align="center"><td style="vertical-align:middle">isSaleable</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">yes/no, default Yes</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf6</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf7</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf8</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf9</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf10</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">imageURL</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Image URL</td></tr><tr align="center"><td style="vertical-align:middle">category1</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merch Hierarchy config </td><tr align="center"><td style="vertical-align:middle">category2</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merch Hierarchy config </td></tr><tr align="center"><td style="vertical-align:middle">category3</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merch Hierarchy config </td></tr><tr align="center"><td style="vertical-align:middle">category4</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merch Hierarchy config </td></tr><tr align="center"><td style="vertical-align:middle">category5</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory as per Merchandise Hierarchy config (if level 5 is configured then all 5 category is mandatory)</td></tr><tr align="center"><td style="vertical-align:middle">lasthieracyCode</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">description of last category. If multiple category at last leaf then latest will be considered ) </td></tr><tr align="center"><td style="vertical-align:middle">isBackOrder</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Yes/no</td></tr><tr align="center"><td style="vertical-align:middle">backOrderQty</td><td style="vertical-align:middle">decimal(10,3)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory if isBackorder is passed as yes</td></tr><tr align="center"><td style="vertical-align:middle">vendorSkuCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Seller SKU code if any</td></tr><tr align="center"><td style="vertical-align:middle">upc_ean</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Product Barcode</td></tr><tr align="center"><td style="vertical-align:middle">barcodeType</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Barcode Type</td></tr><tr align="center"><td style="vertical-align:middle">material</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle"></td></tr><tr align="center"><td style="vertical-align:middle">isUniqueBarcode</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">1. If this flag is passed as yes then at the time of inbound/adjustment system will generate unique barcode of that SKU.<br/>2. All transaction will be done on the basic of unique barcode only</td></tr><tr align="center"><td style="vertical-align:middle">shippingCharges</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Shipping charges</td></tr><tr align="center"><td style="vertical-align:middle">pickingInstruction</td><td style="vertical-align:middle">Varchar(500)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Picking Instructions configured in Other Masters.</td></tr><tr align="center"><td style="vertical-align:middle">shipingInstruction</td><td style="vertical-align:middle">Varchar(500)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Shipping instructions configured in Other Masters.</td></tr><tr align="center"><td style="vertical-align:middle">careIntructions</td><td style="vertical-align:middle">Varchar(500)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Care Instructions, if any</td></tr><tr align="center"><td style="vertical-align:middle">budf1</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf2</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf3</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf4</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf5</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf6</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf7</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">budf8</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">isStocked</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">isPoisnous</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">isHazardous</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">hazmatUNCode </td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Applicable only when isHazardous or isPoisnous is true. Format:- Key3|Key1 </td></tr><tr align="center"><td style="vertical-align:middle">shelfLifeIndicator</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">shelfType</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Expiry date or Mfg date</td></tr><tr align="center"><td style="vertical-align:middle">totalShelfLife</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It is No. of Days. Possible values are 1, 2, 3 etc.</td></tr><tr align="center"><td style="vertical-align:middle">shelfLifeOnPicking</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It is No. of Days. Possible values are 1, 2, 3 etc.</td></tr><tr align="center"><td style="vertical-align:middle">shelfLifeOnReceiving</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It''s No. of Days. Possible values are 1, 2, 3 etc.</td></tr><tr align="center"><td style="vertical-align:middle">skuLevelTaxCat</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">SKU Level Tax Code</td></tr><tr align="center"><td style="vertical-align:middle">skuRotation</td><td style="vertical-align:middle">Varchar(4)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are LIFO, FIFO, FEFO</td></tr><tr align="center"><td style="vertical-align:middle">locations</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">List of locCode for link to store</td></tr><tr align="center"><td style="vertical-align:middle">countryOfOrigin</td><td style="vertical-align:middle">Varchar</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Sku creation country name</td></tr><tr align="center"><td style="vertical-align:middle">uom</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Pass UOM name</td></tr><tr align="center"><td style="vertical-align:middle">additionalCess</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle"> optional</td><td style="vertical-align:middle">Possible values are Central Non-Advol, State Non-Advol</td></tr><tr align="center"><td style="vertical-align:middle">additionalCessUnit</td><td style="vertical-align:middle">decimal(10,3)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory when additionalCess is added.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg1</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the primary image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg2</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the secondary image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg3</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the third image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg4</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the fourth image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg5</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the fifth image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">skuImg6</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">URL of the sixth image of the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">isPurchasable</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO</td></tr><tr align="center"><td style="vertical-align:middle">isStackable</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO</td></tr><tr align="center"><td style="vertical-align:middle">thresholdQty</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Minimum qty for stock required</td></tr><tr align="center"><td style="vertical-align:middle">handlingCharges</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Additional charges for handling the SKU.</td></tr><tr align="center"><td style="vertical-align:middle">stdMargin</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Standard margin percentage applied to the SKU</td></tr><tr align="center"><td style="vertical-align:middle">rotateBy</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The lotting parameter on which SKU allocation is to be done. Defined in codelkup with lkupcode ''ROTATEBY''</td></tr><tr align="center"><td style="vertical-align:middle">recvValidationCode</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Code used for validating SKU during receiving process</td></tr><tr align="center"><td style="vertical-align:middle">thresholdAlertReq</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO</td></tr><tr align="center"><td style="vertical-align:middle">isARSApplicable</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO</td></tr><tr align="center"><td style="vertical-align:middle">stockCoverDays</td><td style="vertical-align:middle">Varchar(300)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Number of days stock is expected to last based on sales trends</td></tr><tr align="center"><td style="vertical-align:middle">grossWeight</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Total weight of the SKU including packaging</td></tr><tr align="center"><td style="vertical-align:middle">isCostbasedonMargin</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes/NO. If Yes Cost is calculated based on stdMrgin</td></tr><tr align="center"><td style="vertical-align:middle">taxPercent </td><td style="vertical-align:middle">Decimal(7,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Tax percent of SKU </td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Max Allowance - 100 skuList item at a time</td></tr><tr><td  colspan=5></b><br/> <b> Case 1:- When classification is  BOM :<br/>{<br/>&nbsp;"skuList":<br/>[<br/>&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":"TEST123",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuName":"Test&nbsp;SKU",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"classification":"BOM",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"bomType":"physical",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"bundledArticleList":[{<br/>&nbsp;&nbsp;&nbsp;&nbsp; "skuCode":"TEST123",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"qty":"1"<br/>&nbsp;&nbsp;&nbsp;&nbsp;}],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"styleAttribute":"Size|Colour",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"parentSKU":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuGrade":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"gradableSku":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"detailDesc":"Test&nbsp;SKU",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fnvtype":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"minimumTransferQty":"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"transferUnitFactor":"4",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"length":"12.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"width":"11.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"height":"10.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"weight":"1.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"size":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"uom":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"color":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"brand":"Lenovo",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"mrp":"123.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"salePrice":"123.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorCode":"122001",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"baseCost":"110.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"taxCategory":"TAX20.00%",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isActive":"yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"lottableValidation":"0101",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"pdpURL":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"serialTrackingRequired":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"serialCount":"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isSaleable":"yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf9":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf10":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"pickingInstruction":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shipingInstruction":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"careIntructions":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"imageURL":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"lasthieracyCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isBackOrder":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"backOrderQty":"1",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorSkuCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"upc_ean":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"barcodeType":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"material":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isUniqueBarcode":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shippingCharges":"100",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isStocked":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isPoisnous":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isHazardous":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"hazmatUNCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeIndicator":"Yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfType":"Expiry date",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"totalShelfLife":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeOnPicking":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeOnReceiving":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuLevelTaxCat":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuRotation":"LIFO",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"locations":["NWB"],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"countryOfOrigin":"UNITED STATES",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"additionalCess":"Central Non-Advol",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"additionalCessUnit":"10.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg1":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg2":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg3":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg4":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg5":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg6":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isPurchasable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isStackable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"thresholdQty":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"handlingCharges":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"stdMargin":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"rotateBy":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"recvValidationCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"thresholdAlertReq":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isARSApplicable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"stockCoverDays":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"grossWeight":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"taxPercent":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isCostbasedonMargin":""<br/>&nbsp;&nbsp;}<br/>]<br/>}<br/><br/> Case 2:- When classification is  NOT BOM :<br/>{<br/>"skuList":[<br/>&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":"TEST123",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuName":"Test&nbsp;SKU",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"classification":"Style",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"styleAttribute":"Size|Colour",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"parentSKU":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuGrade":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"gradableSku":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"bomType":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"bundledArticleList":[{<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"qty":""<br/>&nbsp;&nbsp;&nbsp;&nbsp;}],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorName":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fnvtype":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"detailDesc":"Test&nbsp;SKU",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"minimumTransferQty":"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"transferUnitFactor":"4",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"length":"12.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"width":"11.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"height":"10.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"weight":"1.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"size":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"color":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"brand":"Lenovo",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"uom":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"mrp":"123.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"salePrice":"123.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorCode":"122001",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"baseCost":"110.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"taxCategory":"TAX20.00%",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isActive":"yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"lottableValidation":"0101",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"pdpURL":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"serialTrackingRequired":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"serialCount":"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isSaleable":"yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"budf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf9":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf10":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"udf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"pickingInstruction":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shipingInstruction":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"careIntructions":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"imageURL":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"category5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"lasthieracyCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isBackOrder":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"backOrderQty":"1",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"vendorSkuCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"upc_ean":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"barcodeType":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"material":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isUniqueBarcode":"no",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shippingCharges":"100",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isStocked":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isPoisnous":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isHazardous":"No",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"hazmatUNCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeIndicator":"Yes",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfType":"Expiry date",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"totalShelfLife":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeOnPicking":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"shelfLifeOnReceiving":"10",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuLevelTaxCat":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuRotation":"LIFO",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"locations":["NWB"],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"countryOfOrigin":"UNITED STATES",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"additionalCess":"Central Non-Advol",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"additionalCessUnit":"10.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg1":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg2":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg3":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg4":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg5":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"skuImg6":"http://www.abc.com/xyz.jpg",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isPurchasable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isStackable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"thresholdQty":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"handlingCharges":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"stdMargin":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"rotateBy":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"recvValidationCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"thresholdAlertReq":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isARSApplicable":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"stockCoverDays":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"grossWeight":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"taxPercent":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"isCostbasedonMargin":""<br/>&nbsp;&nbsp;}<br/>]<br/>}<br/><br/>

          </td></tr></tbody></table>'
  /RestWS/api/eretail/v1/sku/update:
    post:
      tags:
      - Products
      summary: Max no. of lines/hit:100 API For Update SKU's(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'>  <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9</p></td><td style="vertical-align:middle" width='167'><p>Sku Defaults Not set in gCodelookup, needed atleast 8 defaults as Hierarchy,TaxCategory,Classification,Source,AttributeSet,Vendor,Status,Rotation,UOM</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>701</p></td><td style="vertical-align:middle" width='167'><p>Maximum Limit Exceeded(100 SKUs Max)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1001</p></td><td style="vertical-align:middle" width='167'><p>Specified Vendor [" ** "] not found in the system.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1004</p></td><td style="vertical-align:middle" width='167'><p>Size Not Found in Configurations.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1014</p></td><td style="vertical-align:middle" width='167'><p>Invalid Sku Classification **</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1015</p></td><td style="vertical-align:middle" width='167'><p>Parent Sku does not exist in the system</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1016</p></td><td style="vertical-align:middle" width='167'><p>Parent Sku is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1017</p></td><td style="vertical-align:middle" width='167'><p>Style Attribute is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1018</p></td><td style="vertical-align:middle" width='167'><p>Size is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1019</p></td><td style="vertical-align:middle" width='167'><p>Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1020</p></td><td style="vertical-align:middle" width='167'><p>Size|Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1020</p></td><td style="vertical-align:middle" width='167'><p>Size is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1021</p></td><td style="vertical-align:middle" width='167'><p>Colour is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1022</p></td><td style="vertical-align:middle" width='167'><p>Invalid Style Attribute</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1024</p></td><td style="vertical-align:middle" width='167'><p>Invalid isUniqueBarcode</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1025</p></td><td style="vertical-align:middle" width='167'><p>Cant change classification for SKU</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1035</p></td><td style="vertical-align:middle" width='167'><p>Invalid ClientID  **</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31003</p></td><td style="vertical-align:middle" width='167'><p>Invalid SKU Classification</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31004</p></td><td style="vertical-align:middle" width='167'><p>Invalid SKU Source imported</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31005</p></td><td style="vertical-align:middle" width='167'><p>Invalid Size imported</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>31006</p></td><td style="vertical-align:middle" width='167'><p>Invalid Color imported</p></td></tr></tbody></table><table> <tbody> <td style="vertical-align:middle" colspan=4> <b>Case 1- Success Response <br/>{<br/>&nbsp;&nbsp;"responseCode":0,<br/>&nbsp;&nbsp;"responseMessage":"Success",<br/>&nbsp;&nbsp;"httpStatusCode":0,<br/>&nbsp;&nbsp;"responseStatus":[</br>&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":"0",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"referenceKey":"VARSHAT01"</br>&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;]<br/>}</b><br/><b>Case 2- Failure Response <br/>{<br/>&nbsp;&nbsp;"responseCode":0,<br/>&nbsp;&nbsp;"responseMessage":"Success",<br/>&nbsp;&nbsp;"httpStatusCode":0,<br/>&nbsp;&nbsp;"responseStatus":[</br>&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":"306",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"SKU Code not found in the System.",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"referenceKey":"VARSHAT02"</br>&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;]<br/>}</b><br/><br/></tbody></table>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - skuCode
              properties:
                request:
                  type: array
                  items:
                    $ref: '#/components/schemas/skuUpdate0'
        description: <table class="table-style-three"> <tbody> <tr> <tr align="center"> <td style="vertical-align:middle" width='100'><strong>Field Name </strong></td> <td style="vertical-align:middle" width='100'><strong>Data Type </strong></td> <td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td> <td style="vertical-align:middle" width='300'><strong>Description </strong></td> </tr> <tr align="center"> <td style="vertical-align:middle">skuCode</td> <td style="vertical-align:middle">Varchar(50)</td> <td style="vertical-align:middle">Mandatory*</td> <td style="vertical-align:middle">Sku Code</td> </tr> <tr align="center"> <td style="vertical-align:middle">skuName</td> <td style="vertical-align:middle">Varchar(200)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Sku Name</td> </tr><tr align="center"> <td style="vertical-align:middle">skuShortName</td> <td style="vertical-align:middle">Varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Sku Short Name</td> </tr> <tr align="center"> <td style="vertical-align:middle">length</td> <td style="vertical-align:middle">Decimal(7,3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Length of Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">width</td> <td style="vertical-align:middle">Decimal(7,3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Width of Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">height</td> <td style="vertical-align:middle">Decimal(7,3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Height of Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">weight</td> <td style="vertical-align:middle">Decimal(7,3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">weight of Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">brand</td> <td style="vertical-align:middle">Varchar(50)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">If not exists system will create brand automatically</td> </tr> <tr align="center"> <td style="vertical-align:middle">mrp</td> <td style="vertical-align:middle">Decimal(20,5)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Mrp of Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">salePrice</td> <td style="vertical-align:middle">Decimal(10,3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Sale Price of Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">vendorCode</td> <td style="vertical-align:middle">Varchar(10)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Vendor Code of the Primary Vendor associated with Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">baseCost</td> <td style="vertical-align:middle">Decimal(10,3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Base Cost Price of Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">taxCategory</td> <td style="vertical-align:middle">Varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Tax Category assigned to Sku</td> </tr> <tr align="center"> <td style="vertical-align:middle">isActive</td> <td style="vertical-align:middle">Varchar(5)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">yes/no</td> </tr> <tr align="center"> <td style="vertical-align:middle">pickingInstruction</td> <td style="vertical-align:middle">Varchar(500)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Picking Instructions configured in Other Masters.</td> </tr> <tr align="center"> <td style="vertical-align:middle">shipingInstruction</td> <td style="vertical-align:middle">Varchar(500)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Shipping instructions configured in Other Masters.</td> </tr> <tr align="center"> <td style="vertical-align:middle">hieracyCode</td> <td style="vertical-align:middle">Varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Merchandising hierarchy code(Only last heirarchy code can be used)</td> </tr><tr align="center"> <td style="vertical-align:middle">hierarcyString</td> <td style="vertical-align:middle">Varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Merchandising hierarchy description(Only last heirarchy code can be used)</td> </tr> <tr align="center"> <td style="vertical-align:middle">serialCount</td> <td style="vertical-align:middle">Integer</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Count of IMEI no in case serial tracking is enabled. Max value can be 3, default is 1,Possible values are 1 ,2,3.</td> </tr> <tr align="center"> <td style="vertical-align:middle">isSKUOnVirtualQty</td> <td style="vertical-align:middle">Varchar(3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">yes/no</td> </tr> <tr align="center"> <td style="vertical-align:middle">virtualQty</td> <td style="vertical-align:middle">Integer(10)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Virtual Quantity of Sku , for SKU type BOM</td> </tr> <tr align="center"> <td style="vertical-align:middle">vendorSkuCode</td> <td style="vertical-align:middle">Varchar(50)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Seller SKU code if any</td> </tr> <tr align="center"> <td style="vertical-align:middle">upc_ean</td> <td style="vertical-align:middle">Varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Product Barcode</td> </tr> <tr align="center"> <td style="vertical-align:middle">barcodeType</td> <td style="vertical-align:middle">Varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Barcode Type</td> </tr> <tr align="center"> <td style="vertical-align:middle">material</td> <td style="vertical-align:middle">Varchar(200)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Material attributes configured in Other Masters.</td> </tr> <tr align="center"> <td style="vertical-align:middle">isUniqueBarcode</td> <td style="vertical-align:middle">Varchar(3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">1. If this flag is passed as yes then at the time of inbound/adjustment system will generate unique barcode of that SKU.<br/>2. All transaction will be done on the basic of unique barcode only</td> </tr><tr align="center"> <td style="vertical-align:middle">shippingCharges</td> <td style="vertical-align:middle">Decimal(10,3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Shipping charges</td> </tr><tr align="center"> <td style="vertical-align:middle">lottableValidation</td> <td style="vertical-align:middle">varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">lottableValidation</td> </tr><tr align="center"> <td style="vertical-align:middle">isSaleable</td> <td style="vertical-align:middle">varchar(5)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Possible values Yes/NO</td> </tr> <tr align="center"> <td style="vertical-align:middle">isStocked</td> <td style="vertical-align:middle">varchar(5)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Possible values Yes/NO</td> </tr> <tr align="center"> <td style="vertical-align:middle">countryOfOrigin</td> <td style="vertical-align:middle">varchar(50)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Sku creation country name</td> </tr> <tr align="center"> <td style="vertical-align:middle">uom</td> <td style="vertical-align:middle">varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle"> UOM name from masters</td> </tr> <tr align="center"> <td style="vertical-align:middle">size</td> <td style="vertical-align:middle">varchar(100)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Size</td> </tr><tr align="center"> <td style="vertical-align:middle">isPoisnous</td> <td style="vertical-align:middle">Varchar(3)</td> <td style="vertical-align:middle">Optional</td> <td style="vertical-align:middle">Possible values are Yes
[...]
