openapi: 3.2.0
info:
  title: Vinculum Stock API
  description: API to retrieve or manipulate Stock related information.
servers:
- url: https://erp.vineretail.com
tags:
- name: Stock
  description: API to retrieve or manipulate Stock related information.
paths:
  /RestWS/api/eretail/v2/stock/updateInventory:
    post:
      tags:
      - Stock
      summary: Max no.of Lines/hit:100 API For Updating Inventory(Hit Quota 40/5 min)
      responses:
        200:
          description: <table border='1'width='672'>  <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>422</p></td><td style="vertical-align:middle" width='167'><p>Invalid Location</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>503</p></td><td style="vertical-align:middle" width='167'><p>UniqueKey is mandatory and must be unique within the request.</p></td><tr align="center"><td style="vertical-align:middle" width='167'><p>505</p></td><td style="vertical-align:middle" width='167'><p>Too many orders in a single request.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3052</p></td><td style="vertical-align:middle" width='167'><p>skuCode is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3053</p></td><td style="vertical-align:middle" width='167'><p>qty is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3054</p></td><td style="vertical-align:middle" width='167'><p>qty can't be negative.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3057</p></td><td style="vertical-align:middle" width='167'><p>reason is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3050</p></td><td style="vertical-align:middle" width='167'><p>location is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3051</p></td><td style="vertical-align:middle" width='167'><p>No Access for given location</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3060</p></td><td style="vertical-align:middle" width='167'><p>Possible Value for mode is Increase or Decrease or New</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3061</p></td><td style="vertical-align:middle" width='167'><p>qty can't be greater than 99999</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3063</p></td><td style="vertical-align:middle" width='167'><p>qty can be any decimal value</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3064</p></td><td style="vertical-align:middle" width='167'><p>Multiple Ext Loc Code Found</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3065</p></td><td style="vertical-align:middle" width='167'><p>lottable_02 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3066</p></td><td style="vertical-align:middle" width='167'><p>lottable_03 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3067</p></td><td style="vertical-align:middle" width='167'><p>lottable_04 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>6001</p></td><td style="vertical-align:middle" width='167'><p>Default Good bin for location [ ** ] is not found in System</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9001</p></td><td style="vertical-align:middle" width='167'><p>reason [ ** ] not found in ERP</p></td></tr><tr><td style="vertical-align:middle" colspan=5> <b>Case 1- When Single Inventory Update:<br/> {<br/> &nbsp;"responsecode":"0",</br>&nbsp;"responseMessage":"Success"<br/>&nbsp;"requestStatus":{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"TESTAM0018",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"TESTAM0018",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":null,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Error",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":"SKU Not Found."<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/><br/>}</b><br/><br/> <b>Case 2- When Multiple Inventory Update:<br/>{<br/> &nbsp;"responseCode":0,</br>&nbsp;"responseMessage":"Success",<br/>&nbsp;"requestId":"lsdfjl9734jls834ojsdljfsjsdfssdfdj"<br/>&nbsp;}</b><br/><br/></tbody></table>
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                RequestBody:
                  type: string
                  description: <table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Skucode</td></tr><tr align="center"><td style="vertical-align:middle">qty</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Quantity</td></tr><tr align="center"><td style="vertical-align:middle">bin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Inventory bin(Possible Value for bin is GOOD.)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_01</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_02</td><td style="vertical-align:middle">Date</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields (DD/MM/YYYY)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_03</td><td style="vertical-align:middle">Date</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields (DD/MM/YYYY)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_04</td><td style="vertical-align:middle">Date</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields (DD/MM/YYYY)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_05</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_06</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_07</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">reason</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Possible Value for reason is Misc.</td></tr><tr align="center"><td style="vertical-align:middle">mode</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Possible Value for mode is Increase or Decrease or New.</td></tr><tr align="center"><td style="vertical-align:middle">location</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">locCode</td></tr><tr align="center"><td style="vertical-align:middle">operationOn</td><td style="vertical-align:middle">Varchar</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Can be Free Qty and by default SOH.</td></tr><tr align="center"><td style="vertical-align:middle">remarks</td><td style="vertical-align:middle">Varchar(1000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Value for remarks is Misc</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">lpn</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">LPN</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Max Allowance - 100 inventoryList at a time.</td></tr><tr><td  colspan=5> <b>Case- </b><br/> <b>{</br>&nbsp;&nbsp;"inventoryList":[{</br>&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":"YOCL0014",</br>&nbsp;&nbsp;&nbsp;&nbsp;"qty":1,</br>&nbsp;&nbsp;&nbsp;&nbsp;"bin":"POSBIN",</br>&nbsp;&nbsp;&nbsp;&nbsp;"lottable_01":"123",</br>&nbsp;&nbsp;&nbsp;&nbsp;"lottable_02":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"lottable_03":"10/07/2018",</br>&nbsp;&nbsp;&nbsp;&nbsp;"lottable_04":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"lottable_05":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"lottable_06":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"lottable_07":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"reason":"MISC",</br>&nbsp;&nbsp;&nbsp;&nbsp;"mode":"Decrease",</br>&nbsp;&nbsp;&nbsp;&nbsp;"location":"NWB",</br>&nbsp;&nbsp;&nbsp;&nbsp;"operationOn":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"remarks":"adjusted qty",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"lpn":""</br>&nbsp;&nbsp;}]</br>} </tr></tbody></table><p>&nbsp;</p><br/>
                ApiOwner:
                  type: string
                  description: This Field Will Be Used To Send API Owner
                ApiKey:
                  type: string
                  description: This is the API Key
              required:
              - RequestBody
              - ApiOwner
              - ApiKey
  /RestWS/api/eretail/v3/stock/updateInventory:
    post:
      tags:
      - Stock
      summary: Max no.of Lines/hit:100 API For Updating Inventory(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'>  <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>422</p></td><td style="vertical-align:middle" width='167'><p>Invalid Location</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>503</p></td><td style="vertical-align:middle" width='167'><p>UniqueKey is mandatory and must be unique within the request.</p></td><tr align="center"><td style="vertical-align:middle" width='167'><p>505</p></td><td style="vertical-align:middle" width='167'><p>Too many orders in a single request.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3052</p></td><td style="vertical-align:middle" width='167'><p>skuCode is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3053</p></td><td style="vertical-align:middle" width='167'><p>qty is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3054</p></td><td style="vertical-align:middle" width='167'><p>qty can't be negative.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3057</p></td><td style="vertical-align:middle" width='167'><p>reason is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3050</p></td><td style="vertical-align:middle" width='167'><p>location is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3051</p></td><td style="vertical-align:middle" width='167'><p>No Access for given location</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3060</p></td><td style="vertical-align:middle" width='167'><p>Possible Value for mode is Increase or Decrease or New</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3061</p></td><td style="vertical-align:middle" width='167'><p>qty can't be greater than 99999</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3063</p></td><td style="vertical-align:middle" width='167'><p>qty can be any decimal value</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3064</p></td><td style="vertical-align:middle" width='167'><p>Multiple Ext Loc Code Found</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3065</p></td><td style="vertical-align:middle" width='167'><p>lottable_02 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3066</p></td><td style="vertical-align:middle" width='167'><p>lottable_03 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3067</p></td><td style="vertical-align:middle" width='167'><p>lottable_04 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>6001</p></td><td style="vertical-align:middle" width='167'><p>Default Good bin for location [ ** ] is not found in System</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9001</p></td><td style="vertical-align:middle" width='167'><p>reason [ ** ] not found in ERP</p></td></tr><tr><td style="vertical-align:middle" colspan=5>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInventoryModelV3'
        description: <table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Skucode</td></tr><tr align="center"><td style="vertical-align:middle">qty</td><td style="vertical-align:middle">Decimal(20,3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Quantity</td></tr><tr align="center"><td style="vertical-align:middle">bin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Inventory bin(Possible Value for bin is GOOD.)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_01</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_02</td><td style="vertical-align:middle">Date</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields (DD/MM/YYYY)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_03</td><td style="vertical-align:middle">Date</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields (DD/MM/YYYY)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_04</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields </td></tr><tr align="center"><td style="vertical-align:middle">lottable_05</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_06</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_07</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">reason</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Possible Value for reason is Misc.</td></tr><tr align="center"><td style="vertical-align:middle">mode</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Possible Value for mode is Increase or Decrease or New.</td></tr><tr align="center"><td style="vertical-align:middle">location</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">locCode</td></tr><tr align="center"><td style="vertical-align:middle">operationOn</td><td style="vertical-align:middle">Varchar</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Can be Free Qty and by default SOH.</td></tr><tr align="center"><td style="vertical-align:middle">remarks</td><td style="vertical-align:middle">Varchar(1000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Value for remarks is Misc</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">lpn</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">LPN</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Max Allowance - 100 inventoryList at a time.</td></tr><tr><td  colspan=5> <b>Case- </b><br/>
  /RestWS/api/eretail/v4/stock/updateInventory:
    post:
      tags:
      - Stock
      summary: Max no.of Lines/hit:100 API For Updating Inventory(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      - in: header
        name: DbId
        required: true
        description: DB Identifier.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'>  <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>422</p></td><td style="vertical-align:middle" width='167'><p>Invalid Location</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3052</p></td><td style="vertical-align:middle" width='167'><p>skuCode is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3118</p></td><td style="vertical-align:middle" width='167'><p>UOM Qty is Mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3119</p></td><td style="vertical-align:middle" width='167'><p>UOM Qty can be any decimal value</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3120</p></td><td style="vertical-align:middle" width='167'><p>UOM Qty can't be negative.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3121</p></td><td style="vertical-align:middle" width='167'><p>UOM Qty can't be greater than 99999.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3055</p></td><td style="vertical-align:middle" width='167'><p>bin is mandatory.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3057</p></td><td style="vertical-align:middle" width='167'><p>reason is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3059</p></td><td style="vertical-align:middle" width='167'><p>mode is mandatory.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3050</p></td><td style="vertical-align:middle" width='167'><p>location is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3060</p></td><td style="vertical-align:middle" width='167'><p>Possible Value for mode is Increase or Decrease or New</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3064</p></td><td style="vertical-align:middle" width='167'><p>Multiple Ext Loc Code Found</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3065</p></td><td style="vertical-align:middle" width='167'><p>lottable_02 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3066</p></td><td style="vertical-align:middle" width='167'><p>lottable_03 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3067</p></td><td style="vertical-align:middle" width='167'><p>lottable_04 Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9233</p></td><td style="vertical-align:middle" width='167'><p>Maximum 1000 characters allowed.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>615</p></td><td style="vertical-align:middle" width='167'><p>LPN is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3068</p></td><td style="vertical-align:middle" width='167'><p>LPN is not active.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3069</p></td><td style="vertical-align:middle" width='167'><p>Serial Tracking is ON for Sku [{0}]. API does not Support Serial Tracking.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3070</p></td><td style="vertical-align:middle" width='167'><p>SKU [{0}] is a BOM SKU, API does not BOM SKU.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3071</p></td><td style="vertical-align:middle" width='167'><p>Invalid Bin, Not exists in system</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3072</p></td><td style="vertical-align:middle" width='167'><p>Bin [{0}] is InActive. Please Enter Valid Active Bin.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3073</p></td><td style="vertical-align:middle" width='167'><p>reason [{0}] not found in ERP.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3074</p></td><td style="vertical-align:middle" width='167'><p>SKU Code not found.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3075</p></td><td style="vertical-align:middle" width='167'><p>UOM [{0}] not exists</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3076</p></td><td style="vertical-align:middle" width='167'><p>UOM [{0}] and Barcode [{1}] combination is not exist.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3077</p></td><td style="vertical-align:middle" width='167'><p>Conversion [{0}] and Barcode [{1}] combination is not exist.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3078</p></td><td style="vertical-align:middle" width='167'><p>Wrong UOM/Conversion entered.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3079</p></td><td style="vertical-align:middle" width='167'><p>Barcode detail not found.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3080</p></td><td style="vertical-align:middle" width='167'><p>Decimal Qty not Allowed.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3081</p></td><td style="vertical-align:middle" width='167'><p>Lottable01 is Active for SKU [{0}], Please enter lottable_01</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3082</p></td><td style="vertical-align:middle" width='167'><p>Lottable01 fails Format Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3083</p></td><td style="vertical-align:middle" width='167'><p>Lottable01 fails Rule Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3084</p></td><td style="vertical-align:middle" width='167'><p>Lottable01 is not applicable for SKU [{0}]</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3085</p></td><td style="vertical-align:middle" width='167'><p>Lottable02 is Active for SKU [{0}]</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3086</p></td><td style="vertical-align:middle" width='167'><p>Lottable02 Date Format for SKU [{0}] is not parsable.Date Format required is (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3087</p></td><td style="vertical-align:middle" width='167'><p>Lottable02 fails Rule Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3088</p></td><td style="vertical-align:middle" width='167'><p>Lottable02 is not applicable for SKU [{0}]</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3089</p></td><td style="vertical-align:middle" width='167'><p>Lottable03 is Active for SKU [{0}], Please enter lottable_03</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3100</p></td><td style="vertical-align:middle" width='167'><p>Lottable03 Date Format for SKU [{0}] is not parsable.Date Format required is (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3101</p></td><td style="vertical-align:middle" width='167'><p>Lottable03 fails Rule Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3102</p></td><td style="vertical-align:middle" width='167'><p>Lottable03 is not applicable for SKU [{0}]</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3103</p></td><td style="vertical-align:middle" width='167'><p>Lottable04 is Active for SKU [{0}]</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3104</p></td><td style="vertical-align:middle" width='167'><p>Lottable04 Date Format for SKU [{0}] is not parsable.Date Format required is (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3105</p></td><td style="vertical-align:middle" width='167'><p>Lottable04 fails Rule Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3106</p></td><td style="vertical-align:middle" width='167'><p>Lottable04 is not applicable for SKU [{0}]</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3107</p></td><td style="vertical-align:middle" width='167'><p>Lottable05 is Active for SKU [{0}], Please enter lottable_05</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3108</p></td><td style="vertical-align:middle" width='167'><p>Lottable05 fails Format Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3109</p></td><td style="vertical-align:middle" width='167'><p>Lottable05 fails Rule Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3110</p></td><td style="vertical-align:middle" width='167'><p>Lottable05 is not applicable for SKU [{0}]</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3111</p></td><td style="vertical-align:middle" width='167'><p>Lottable06 is Active for SKU [{0}], Please enter lottable_06</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3112</p></td><td style="vertical-align:middle" width='167'><p>Lottable06 fails Format Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3113</p></td><td style="vertical-align:middle" width='167'><p>Lottable06 fails Rule Validation</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3114</p></td><td style="vertical-align:middle" width='167'><p>Lottable06 is not applicable for SKU [{0}]</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3115</p></td><td style="vertical-align:middle" width='167'><p>Insufficient Inventory.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3123</p></td><td style="vertical-align:middle" width='167'><p>Invalid Data in InvBal.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3124</p></td><td style="vertical-align:middle" width='167'><p>Invalid Data in InvBySku</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3125</p></td><td style="vertical-align:middle" width='167'><p>Loose LPN is enabled for Bin {0}, LPN can not be provided.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>3126</p></td><td style="vertical-align:middle" width='167'><p>Conversion is Not Numeric</p></td></tr><tr><td style="vertical-align:middle" colspan=5> <b> {<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responsecode":&nbsp;&nbsp;"0",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":&nbsp;&nbsp;"Success"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseStatus":&nbsp;&nbsp;"AllSuccess"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"items":&nbsp;&nbsp;[</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"referenceKey":&nbsp;&nbsp;"123325",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":&nbsp;&nbsp;"1",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestData":&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":&nbsp;&nbsp;"UPDINV-1",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"mode":&nbsp;&nbsp;"Increase",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "uomQty":&nbsp;&nbsp;"5",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "conversion":&nbsp;&nbsp;"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"bin":&nbsp;&nbsp;"saleable",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"location":&nbsp;&nbsp;"UJW"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "eachQty":&nbsp;&nbsp;"15",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lotCode":&nbsp;&nbsp;"UJW000008412"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; },</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"referenceKey":&nbsp;&nbsp;"123326",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":&nbsp;&nbsp;"1",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorCode":&nbsp;&nbsp;"3071",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":&nbsp;&nbsp;"Invalid Bin, Not exists in system",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestData":&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":&nbsp;&nbsp;"UPDINV-2",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"mode":&nbsp;&nbsp;"Increase",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "uomQty":&nbsp;&nbsp;"4",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"bin":&nbsp;&nbsp;"bin91",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"location":&nbsp;&nbsp;"UJW"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "eachQty":&nbsp;&nbsp;null,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lotCode":&nbsp;&nbsp;null<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>&nbsp;&nbsp;}</b><br/><br/> </tbody></table>
      requestBody:
        content:
          application/json:
            schema:
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/updateInventory'
        description: <table><tr align="center" ><td width="100" style="color:#ec0c0c !important;font-size:16px !important;"><strong>Beta Version (Case Pack Compatible)</strong></td></tr></table><table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Skucode</td></tr><tr align="center"><td style="vertical-align:middle">uomQty</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">UOM Quantity</td></tr><tr align="center"><td style="vertical-align:middle">uom</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">UOM</td></tr><tr align="center"><td style="vertical-align:middle">conversion</td><td style="vertical-align:middle">Int(11)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">CaseSize</td></tr><tr align="center"><td style="vertical-align:middle">bin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Inventory bin</td></tr><tr align="center"><td style="vertical-align:middle">lpn</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">LPN</td></tr><tr align="center"><td style="vertical-align:middle">lottable_01</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_02</td><td style="vertical-align:middle">Date</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields (DD/MM/YYYY)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_03</td><td style="vertical-align:middle">Date</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields (DD/MM/YYYY)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_04</td><td style="vertical-align:middle">Date</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields (DD/MM/YYYY)</td></tr><tr align="center"><td style="vertical-align:middle">lottable_05</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_06</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable_07</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">reason</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Possible Value for reason is Misc.</td></tr><tr align="center"><td style="vertical-align:middle">mode</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Possible Value for mode is Increase or Decrease or New.</td></tr><tr align="center"><td style="vertical-align:middle">location</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">locCode</td></tr><tr align="center"><td style="vertical-align:middle">operationOn</td><td style="vertical-align:middle">Varchar</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Can be Free Qty and by default SOH.</td></tr><tr align="center"><td style="vertical-align:middle">remarks</td><td style="vertical-align:middle">Varchar(1000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Value for remarks is Misc</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">lotNo</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot No</td></tr></tbody></table>
  /RestWS/api/eretail/v1/stock/inventoryMovement:
    post:
      tags:
      - Stock
      summary: Max no.of Lines/hit:100  API For Inventory Move Task(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9071</p></td><td style="vertical-align:middle" width='167'><p>Reference ID is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9072</p></td><td style="vertical-align:middle" width='167'><p>Location is mandatory</p></td><tr align="center"><td style="vertical-align:middle" width='167'><p>9073</p></td><td style="vertical-align:middle" width='167'><p>To bin is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9074</p></td><td style="vertical-align:middle" width='167'><p>Enable to register movement for the SKU</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9075</p></td><td style="vertical-align:middle" width='167'><p>Insufficient Inventory</p></td><tr align="center"><td style="vertical-align:middle" width='167'><p>9076</p></td><td style="vertical-align:middle" width='167'><p>A task is already registered. Kindly try after sometime</p></td></tr></tbody></table><table> <tbody> <td style="vertical-align:middle" colspan=4> <b>Case 1- Success Response <br/>{<br/>&nbsp;&nbsp;"responseCode":0,<br/>&nbsp;&nbsp;"responseMessage":"Success",<br/>&nbsp;&nbsp;"responseList":[</br>&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"refId":"00-110-010011",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"taskId":"3807593",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"message":"SUCCESS"</br>&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;]<br/>}</b><br/></b></tbody></table>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RefID
              properties:
                list:
                  type: array
                  items:
                    $ref: '#/components/schemas/inventoryMovement'
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">RefID</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Reference ID of external system for the movement transaction</td></tr><tr align="center"><td style="vertical-align:middle">location</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">loccode can be Internal/external</td></tr><tr align="center"><td style="vertical-align:middle">skucode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Must be valid SKU Code.</td></tr><tr align="center"><td style="vertical-align:middle">qty</td><td style="vertical-align:middle">decimal(10,3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Quantity to be moved</td></tr><tr align="center"><td style="vertical-align:middle">tobin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Bin to which inventory is to be moved</td></tr><tr align="center"><td style="vertical-align:middle">LOT</td><td style="vertical-align:middle">Varchar(12)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A valid Lot No</td></tr><tr align="center"><td style="vertical-align:middle">FromLPN</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A valid From Box ID</td></tr><tr align="center"><td style="vertical-align:middle">ToLPN</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A valid To Box ID</td></tr><tr align="center"><td style="vertical-align:middle">UDF1</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">UDF2</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">UDF3</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">UDF4</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">UDF5</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">fromBin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The bin from which the inventory is to be moved(If Inventory exists in multiple bins and no value is provided, the entire inventory will be moved except for what is already in the  tobin).</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Maximum allowance to inventory movement is 100</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>JSON Format</br>&nbsp;{</br>"list":[</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"RefID":"00-110-010011",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"location":"NWB",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skucode":"051821679",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"qty":"2",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"tobin":"Zara",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"LOT":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"FromLPN":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"ToLPN":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"UDF1":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"UDF2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"UDF3":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"UDF4":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"UDF5":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromBin":""</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;&nbsp;&nbsp;]</br>}</b></br></br></tbody></table>
  /RestWS/api/eretail/v1/stock/inventoryHoldUnhold:
    post:
      tags:
      - Stock
      summary: Max no.of Lines/hit:50 API to Hold/Unhold Inventory(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9072</p></td><td style="vertical-align:middle" width='167'><p>Location is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9076</p></td><td style="vertical-align:middle" width='167'><p>A task is already registered. Kindly try after sometime</p></td></tr></tbody></table><table> <tbody> <td style="vertical-align:middle" colspan=4> <b>Case 1- Success Response <br/>{<br/>&nbsp;&nbsp;"responseCode":0,<br/>&nbsp;&nbsp;"responseMessage":"Success",<br/>&nbsp;&nbsp;"requestStatus":[</br>&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":""</br>&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;]<br/>}</b><br/></b></tbody></table>
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - RefID
              properties:
                list:
                  type: array
                  items:
                    $ref: '#/components/schemas/inventoryHoldUnhold'
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">uniqueKey</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Field uniqueKey is unique identifier to identify the particular request.</td></tr><tr align="center"><td style="vertical-align:middle">locCode</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle"> eRetail location code.</td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">eRetail sku code.</td></tr><tr align="center"><td style="vertical-align:middle">status</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle"> Hold or Unhold (lkupcode - INVHOLDSTS)</td></tr><tr align="center"><td style="vertical-align:middle">bin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">bincode</td></tr><tr align="center"><td style="vertical-align:middle">lot</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">lot No.</td></tr><tr align="center"><td style="vertical-align:middle">lpnNo</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A valid Box ID</td></tr><tr><td style="vertical-align:middle" colspan=4> </tbody></table>
  /RestWS/api/eretail/v1/stock/adjustmentDetail:
    post:
      tags:
      - Stock
      summary: No.of Lines/Response:100  API for Stock Adjustment Detail(Hit Quota 40/5 min)
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adjustmentdetail'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                RequestBody:
                  type: string
                  description: <table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Maximum 100 Sku's</td></tr><tr align="center"><td style="vertical-align:middle">location</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">eRetail Location Code or Location code of external system. If API is mapped with multiple locations, it is mandatory to provide the field in request.</td></tr><tr align="center"><td style="vertical-align:middle">date_from</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">*Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">date_to</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">*Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">pageNumber</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default 1. (Page Size 100 Orders)</td></tr><tr><td  colspan=5> <b>Case 1- When Sku is passed</b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"skuCode":["12345","3456"],</br>&nbsp;&nbsp;&nbsp;&nbsp;"location":"IWH",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"date_from":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"date_to":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"<br/>&nbsp;}</b><br/><br/><br/> <b>Case 2- With Date Range Filter</b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"skuCode":["12345","3456"],</br>&nbsp;&nbsp;&nbsp;&nbsp;"location":"IWH",</br>&nbsp;&nbsp;&nbsp;&nbsp;"date_from":"03/08/2017 00:00:00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"date_to":"09/08/2017 00:00:00",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"<br/>&nbsp;}</b></td></tr></tbody></table><p>&nbsp;</p><br/>
                ApiOwner:
                  type: string
                  description: This Field Will Be Used To Send API Owner
                ApiKey:
                  type: string
                  description: This is the API Key
              required:
              - RequestBody
              - ApiOwner
              - ApiKey
  /RestWS/api/eretail/v3/stock/adjustmentDetail:
    post:
      tags:
      - Stock
      summary: No.of Lines/Response:100 API for Stock Adjustment Detail(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adjustmentdetail'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - skuCode
              properties:
                skuCode:
                  type: string
                  example:
                  - sku11
                  - sku12
                location:
                  type: string
                  example: CHE
                date_from:
                  type: string
                  example: ''
                date_to:
                  type: string
                  example: ''
                pageNumber:
                  type: string
                  example: '1'
        description: <table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Maximum 100 Sku's</td></tr><tr align="center"><td style="vertical-align:middle">location</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">eRetail Location Code or Location code of external system. If API is mapped with multiple locations, it is mandatory to provide the field in request.</td></tr><tr align="center"><td style="vertical-align:middle">date_from</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">*Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">date_to</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">*Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">pageNumber</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default 1. (Page Size 100 Orders)</td></tr><tr><td  colspan=5> <b>Case 1- When Sku is passed</b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"skuCode":["12345","3456"],</br>&nbsp;&nbsp;&nbsp;&nbsp;"location":"IWH",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"date_from":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"date_to":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"<br/>&nbsp;}</b><br/><br/><br/> <b>Case 2- With Date Range Filter</b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"skuCode":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"location":"IWH",</br>&nbsp;&nbsp;&nbsp;&nbsp;"date_from":"03/08/2017 00:00:00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"date_to":"09/08/2017 00:00:00",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"<br/>&nbsp;}</b></td></tr></tbody></table><p>&nbsp;</p><br/>
  /RestWS/api/eretail/v1/stock/invMove:
    post:
      tags:
      - Stock
      summary: Max no.of Lines/hit:50 API For Inventory Movement Process(Hit Quota 40/5 min)
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5</p></td><td style="vertical-align:middle" width='167'><p>Empty Request</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9</p></td><td style="vertical-align:middle" width='167'><p>Generic Error</p></td><tr align="center"><td style="vertical-align:middle" width='167'><p>11</p></td><td style="vertical-align:middle" width='167'><p>Invalid API credentials</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>16</p></td><td style="vertical-align:middle" width='167'><p>API key need Read-Write access</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>18</p></td><td style="vertical-align:middle" width='167'><p>API module misconfigured</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9079</p></td><td style="vertical-align:middle" width='167'><p>Maximum 50 record can be processed in one request.</p></td></tr></tbody></table><table> <tbody> <td style="vertical-align:middle" colspan=4> <b>Case 1- Success Response <br/>{<br/>&nbsp;&nbsp;"responseCode":0,<br/>&nbsp;&nbsp;"responseMessage":"Success",<br/>&nbsp;&nbsp;"responseList":[</br>&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"791520",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"SUCCESS",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"message":"Inventory move successfully from GOOD to vgg"</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>}</b><br/></b></tbody></table>
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                ApiOwner:
                  type: string
                  description: API Owner.
                ApiKey:
                  type: string
                  description: API Key.
                RequestBody:
                  type: string
                  description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">uniqueKey</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Field uniqueKey is unique identifier to identify the particular inventory move. It has to be unique within the call.</td></tr><tr align="center"><td style="vertical-align:middle">location</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">loccode can be Internal/external</td></tr><tr align="center"><td style="vertical-align:middle">skucode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Must be valid SKU Code or USN.</td></tr><tr align="center"><td style="vertical-align:middle">qty</td><td style="vertical-align:middle">decimal(10,3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Must be integer/decimal valid qty. Should be greater than 0</td></tr><tr align="center"><td style="vertical-align:middle">fromBin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Must be a valid BIN</td></tr><tr align="center"><td style="vertical-align:middle">toBin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Must be a valid BIN</td></tr><tr align="center"><td style="vertical-align:middle">lot</td><td style="vertical-align:middle">Varchar(12)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A valid Lot No</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">user defined field</td></tr><tr align="center"><td style="vertical-align:middle">lottable01</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable02</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable03</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable04</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable05</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable06</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">lottable07</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Lot attribute fields</td></tr><tr align="center"><td style="vertical-align:middle">fromLPN</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A valid From Box ID</td></tr><tr align="center"><td style="vertical-align:middle">toLPN</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">A valid To Box ID</td></tr><tr align="center"><td style="vertical-align:middle">Remark</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Remarks if any</td></tr><tr align="center"><td style="vertical-align:middle">skuBarCode</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Product barcode</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Maximum allowance to inventory movement is 50</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>JSON Format</br>&nbsp;{</br>"list":[</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"791838",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"location":"NWB",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skucode":"K016",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"qty":"2",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromBin":"GOOD",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toBin":"vgg",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lot":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lottables":{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lottable01":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lottable02":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lottable03":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lottable04":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lottable05":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lottable06":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lottable07":""</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromLPN":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toLPN":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Remark":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skuBarCode":""</br>&nbsp;&nbsp;}</br>&nbsp;&nbsp;&nbsp;&nbsp;]</br>}</b></br></br></tbody></table>
              required:
              - ApiOwner
              - ApiKey
              - RequestBody
  /RestWS/api/eretail/v4/stock/getWhInventory:
    post:
      tags:
      - Stock
      summary: No.of Lines/Response:100 API For Checking WH Inventory Detail(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>702</p></td><td style="vertical-align:middle" width='167'><p>No Filters Found for Fetching Sku(s),Either SkuCode or FromDate & Todate filters are mandatory </p></td></tr></tbody></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getWhInventory1'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - skuCodes
              properties:
                skuCodes:
                  type: array
                  items:
                    type: string
                    example: PICK01
                buckets:
                  type: string
                  example:
                  - Good
                  - Hold
                fromDate:
                  type: string
                  example: ''
                toDate:
                  type: string
                  example: ''
                pageNumber:
                  type: string
                  example: '1'
                locCode:
                  type: string
                  example: ''
                reqType:
                  type: string
                  example: ''
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCodes</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Pass list of sku codes(Either SkuCode or FromDate & Todate filters are mandatory)</td></tr><tr align="center"><td style="vertical-align:middle">buckets</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible value:- "Good", "Bad", "Hold", "In process"</td></tr><tr align="center"><td style="vertical-align:middle">fromDate</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">**Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">toDate</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">**Only if details by filter (DD/MM/YYYY HH:mm:ss)</td><tr align="center"><td style="vertical-align:middle">pageNumber</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default 1. (Page Size 100 Orders)</td></tr></tr><tr align="center"><td style="vertical-align:middle">locCode</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">eRetail Location Code or loccode of external system</td></tr><tr align="center"><td style="vertical-align:middle">reqType</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">if reqType value is 1  can  pull without inventory sku</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>Case 1:&nbsp;Get WhInventory Detail by skuCodes(s)</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skuCodes":["PICK01"],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"buckets":["good","Bad","Hold","In process"],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"reqType":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"locCode":""</br>&nbsp;}</br></br>&nbsp;Case 2:&nbsp;Get WhInventory Detail by Date Range</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skuCodes":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"buckets":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"13/04/2021 07:20:01",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"13/04/2021 08:20:01",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"reqType":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"locCode":"UWH"</br>&nbsp;}</br></br>&nbsp;</tbody></table>
  /RestWS/api/eretail/v1/stock/movementHistory:
    post:
      tags:
      - Stock
      summary: Max no.of Lines/hit:100. API For Checking Inventory move history(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>702</p></td><td style="vertical-align:middle" width='167'><p>No Filters Found for Fetching Sku(s),Either SkuCode or FromDate & Todate filters are mandatory </p></td></tr></tbody></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/movementHistory1'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - skuCodes
              properties:
                skuCode:
                  type: array
                  items:
                    type: string
                    example: PICK01
                location:
                  type: string
                  example: CHE
                fromDate:
                  type: string
                  example: ''
                toDate:
                  type: string
                  example: ''
                fromBin:
                  type: string
                  example: ''
                toBin:
                  type: string
                  example: ''
                pageNumber:
                  type: string
                  example: '1'
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">skuCode</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Pass list of sku codes(Max limit 100)</td></tr><tr align="center"><td style="vertical-align:middle">location</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">loccode can be Internal/external</td></tr><tr align="center"><td style="vertical-align:middle">fromDate</td><td style="vertical-align:middle">Datetime</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">**Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">toDate</td><td style="vertical-align:middle">Datetime</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">**Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">fromBin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Must be a valid BIN</td></tr><tr align="center"><td style="vertical-align:middle">toBin</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Must be a valid BIN</td></tr><tr align="center"><td style="vertical-align:middle">pageNumber</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default 1. (Page Size 100 Orders)</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>Case 1:&nbsp;Get movementHistory Detail by skuCodes(s)</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":["PICK01"],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"location":"CHE",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromBin":""</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toBin":""</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"</br>&nbsp;}</br></br>&nbsp;Case 2:&nbsp;Get movementHistory Detail by Date Range</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skuCode":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"location":"CHE",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"13/04/2021 07:20:01",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"13/04/2021 08:20:01",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromBin":""</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toBin":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"</br>&nbsp;}</br></br>&nbsp;</tbody></table>
components:
  schemas:
    movementHistory1:
      properties:
        responseCode:
          type: integer
          example: 0
        responseMessage:
          type: string
          example: Success
        hasMore:
          type: boolean
          example: false
        currentPage:
          type: integer
          example: 1
        skuList:
          type: array
          items:
            $ref: '#/components/schemas/movementHistory2'
    updateInventoryModelV3:
      properties:
        inventoryList:
          type: array
          items:
            $ref: '#/components/schemas/updateInventoryV3'
    updateInventory:
      properties:
        skuCode:
          type: string
          example: UPDINV-1
        uomQty:
          type: string
          example: '5'
        uom:
          type: string
          example: ''
        conversion:
          type: string
          example: '3'
        bin:
          type: string
          example: Saleable
        lpn:
          type: string
          example: ''
        lottable_01:
          type: string
          example: '11'
        lottable_02:
          type: string
          example: ''
        lottable_03:
          type: string
          example: ''
        lottable_04:
          type: string
          example: ''
        lottable_05:
          type: string
          example: ''
        lottable_06:
          type: string
          example: ''
        lottable_07:
          type: string
          example: ''
        reason:
          type: string
          example: MISC
        mode:
          type: string
          example: Increase
        location:
          type: string
          example: UJW
        operationOn:
          type: string
          example: ''
        remarks:
          type: string
          example: adjusted qty
        udf1:
          type: string
          example: ''
        udf2:
          type: string
          example: ''
        udf3:
          type: string
          example: ''
        udf4:
          type: string
          example: ''
        udf5:
          type: string
          example: ''
        lotNo:
          type: string
          example: ''
    adjustmentdetail:
      properties:
        responseCode:
          type: integer
          example: 0
        responseMessage:
          type: string
          example: Success
        totalSku:
          type: integer
          example: 1
        totalPages:
          type: integer
          example: 1
        currentPage:
          type: integer
          example: 1
        skuList:
          type: array
          items:
            $ref: '#/components/schemas/skuList'
    movementHistory2:
      properties:
        skuCode:
          type: string
          example: PICK01
        skuDesc:
          type: string
          example: 'CallOne BT Power Blaster Speaker S311 ( P: 25, CL: , S: , CL: , A: 0 )'
        fromZone:
          type: string
          example: Salable
        toZone:
          type: string
          example: Packzone
        fromBin:
          type: string
          example: Salebin
        toBin:
          type: string
          example: Pack-Bin
        lpn:
          type: string
          example: ''
        movementDate:
          type: string
          example: 29/06/2022 12:58:56
        movementQty:
          type: string
          example: '3.000'
        locCode:
          type: string
          example: CHE
        locName:
          type: string
          example: Chennai_WH
        user:
          type: string
          example: G-harshit.
        putawayNo:
          type: string
          example: ''
        usnNo:
          type: string
          example: ''
        remarks:
          type: string
          example: ''
        reason:
          type: string
          example: Wrong shipment
    skuList:
      type: object
      properties:
        id:
          type: string
          example: '75379'
        skuCode:
          type: string
          example: SURJEET01
        imei:
          type: string
          example: ss111
        imei2:
          type: string
          example: ss211
        imei3:
          type: string
          example: ss311
        bin:
          type: string
          example: XYZ-AB
        qty:
          type: string
          example: XYZ-AB
        bin_bucket:
          type: string
          example: Good
        location:
          type: string
          example: IBW
        reason:
          type: string
          example: Order shipment
        remarks:
          type: string
          example: Order shipment
        cost:
          type: string
          example: '99.99'
        createdBy:
          type: string
          example: sa
        createdDate:
          type: string
          example: 05/11/2020 16:52 PM
        updatedBy:
          type: string
          example: sa
        updatedDate:
          type: string
          example: 05/11/2020 16:52 PM
        udf1:
          type: string
          example: ''
        udf2:
          type: string
          example: ''
        udf3:
          type: string
          example: ''
        udf4:
          type: string
          example: ''
        udf5:
          type: string
          example: ''
        udf6:
          type: string
          example: ''
        udf7:
          type: string
          example: ''
        udf8:
          type: string
          example: ''
        udf9:
          type: string
          example: ''
        udf10:
          type: string
          example: ''
        lotno:
          type: string
          example: IBW000008910
        lottable01:
          type: string
          example: ''
        lottable02:
          type: string
          example: ''
        lottable03:
          type: string
          example: ''
        lottable04:
          type: string
          example: ''
        lottable05:
          type: string
          example: '21'
        lottable06:
          type: string
          example: ''
        lottable07:
          type: string
          example: ''
    getWhInventory2:
      properties:
        skuCode:
          type: string
          example: PICK01
        location:
          type: string
          example: UWH
        qty:
          type: string
          example: '20'
        bucket:
          type: string
          example: Good
        committedQty:
          type: string
          example: '15'
    updateInventoryV3:
      properties:
        skuCode:
          type: string
          example: UPDINV-1
        qty:
          type: string
          example: '100'
        bin:
          type: string
          example: Saleable
        lottable_01:
          type: string
          example: '11'
        lottable_02:
          type: string
          example: 11/08/2018
        lottable_03:
          type: string
          example: 10/08/2018
        lottable_04:
          type: string
          example: 12/08/2018
        lottable_05:
          type: string
          example: '544'
        lottable_06:
          type: string
          example: '256'
        lottable_07:
          type: string
          example: '256'
        lpn:
          type: string
          example: ''
        reason:
          type: string
          example: MISC
        mode:
          type: string
          example: Increase
        location:
          type: string
          example: UJW
        operationOn:
          type: string
          example: ''
        remarks:
          type: string
          example: adjusted qty
        udf1:
          type: string
          example: ''
        udf2:
          type: string
          example: ''
        udf3:
          type: string
          example: ''
        udf4:
          type: string
          example: ''
        udf5:
          type: string
          example: ''
    getWhInventory1:
      properties:
        responseCode:
          type: integer
          example: 0
        responseMessage:
          type: string
          example: Success
        hasMore:
          type: boolean
          example: false
        response:
          type: array
          items:
            $ref: '#/components/schemas/getWhInventory2'
    inventoryHoldUnhold:
      properties:
        uniqueKey:
          type: string
          example: '1'
        locCode:
          type: string
          example: UJW
        skuCode:
          type: string
          example: hold
        status:
          type: string
          example: rkbc001
        bin:
          type: string
          example: UJW
        lot:
          type: string
          example: ''
        lpnNo:
          type: string
          example: ''
    inventoryMovement:
      properties:
        RefID:
          type: string
          example: 00-110-010011
        location:
          type: string
          example: NWB
        skucode:
          type: string
          example: 051821679
        qty:
          type: string
          example: '2'
        tobin:
          type: string
          example: Zara
        LOT:
          type: string
          example: ''
        FromLPN:
          type: string
          example: ''
        ToLPN:
          type: string
          example: ''
        UDF1:
          type: string
          example: ''
        UDF2:
          type: string
          example: ''
        UDF3:
          type: string
          example: ''
        UDF4:
          type: string
          example: ''
        UDF5:
          type: string
          example: ''
        fromBin:
          type: string
          example: ''
