openapi: 3.2.0
info:
  title: Vinculum Common API
  description: API to facilitate Common Operations.
servers:
- url: https://erp.vineretail.com
tags:
- name: Common
  description: API to facilitate Common Operations.
paths:
  /RestWS/api/eretail/v1/common/checkRequestStatus:
    post:
      tags:
      - Common
      summary: API For Checking Request Status(Hit Quota 40/5 min)
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td><tr align="center"><td style="vertical-align:middle" width='167' colspan=2><p>Please Check Error messages and codes into common error section</p></td></tr></tbody></table><table> <tbody> <td style="vertical-align:middle" colspan=4> <b>Output- (When request is NOT processed)</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":0,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestStatusList":[</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":null,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"WIP",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":null</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300302",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. . . . . .</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</br>&nbsp;}</br></br>&nbsp;Case1- Output (When request is processed):</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":0,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestStatusList":[</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey ":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey ":"TWH955",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":null</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300302",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. . . . . .</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</br>&nbsp;}</br></br>&nbsp;Case2- Output (When request is failed):</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":0,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestStatusList":[</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":"TWH955",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":" Error",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":""</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300302",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;. . . . . .</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</br>&nbsp;}</b></tbody></table>
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                RequestBody:
                  type: string
                  description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">requestId</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Provided requested ID</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>Input JSON Format-<br/> {<br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestId":"ab98a12f538f4b78bc57ead6587b209c"<br/>&nbsp;}</b><br/><br/></td></tr></tbody></table>
                ApiOwner:
                  type: string
                  description: API Owner.
                ApiKey:
                  type: string
                  description: API Key.
              required:
              - RequestBody
              - ApiOwner
              - ApiKey
  /RestWS/api/eretail/v1/customer/custCreate:
    post:
      tags:
      - Common
      summary: Max no. of Lines/hit:50 API For Customer Create/Update(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2050</p></td><td style="vertical-align:middle" width='167'><p>Customer Name Is A Mandatory Field. It Cannt Be Left Null Or Blank.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2051</p></td><td style="vertical-align:middle" width='167'><p>Customer Type Is A Mandatory Field. It Cannt Be Left Null Or Blank. If You Have Sent You The Customer Type, It Does Not Exist With Us</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2052</p></td><td style="vertical-align:middle" width='167'><p>Bill Address 1 Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2053</p></td><td style="vertical-align:middle" width='167'><p>Bill Phone Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2054</p></td><td style="vertical-align:middle" width='167'><p>Bill E-Mail Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2055</p></td><td style="vertical-align:middle" width='167'><p>Bill Country Is A Mandatory Field. It Cannt Be Left Null Or Blank. If You Have Sent The Bill Contry, This Bill Country Doesnot Exists With Us.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2056</p></td><td style="vertical-align:middle" width='167'><p>Address 1 Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2057</p></td><td style="vertical-align:middle" width='167'><p>Phone Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2058</p></td><td style="vertical-align:middle" width='167'><p>E-Mail Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2059</p></td><td style="vertical-align:middle" width='167'><p>Country Is A Mandatory Field. It Cannt Be Left Null Or Blank. If You Have Sent The Contry, This Country Doesnot Exist With Us.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2060</p></td><td style="vertical-align:middle" width='167'><p>State Is A Mandatory Field. It Cannt Be Left Null Or Blank. If You Have Sent The State, This State Does Not Exist Under The Given Country.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2061</p></td><td style="vertical-align:middle" width='167'><p>Other Address 1 Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2062</p></td><td style="vertical-align:middle" width='167'><p>Other Phone Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2063</p></td><td style="vertical-align:middle" width='167'><p>Other E-Mail Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2064</p></td><td style="vertical-align:middle" width='167'><p>Other Country Is A Mandatory Field. It Cannt Be Left Null Or Blank. If You Have Sent The Contry, This Country Does Not Exist With Us.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2065</p></td><td style="vertical-align:middle" width='167'><p>Other State Is A Mandatory Field. It Cannt Be Left Null Or Blank. If You Have Sent The State, This State Does Not Exist Under The Given Country.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2066</p></td><td style="vertical-align:middle" width='167'><p>Customer Code Supplied In The Request For Update Does Not Exists. You Can Leave This Field Blank For Creating New Customer.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2067</p></td><td style="vertical-align:middle" width='167'><p>Bill State Is A Mandatory Field. It Cannt Be Left Null Or Blank. If You Have Sent The Bill State, This Bill State Doesnot Exists Under The Given Country.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2068</p></td><td style="vertical-align:middle" width='167'><p>Customer Already Exists With Bill Phone Number Supplied In The Request. Please Do Change The Bill Phone Number.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2069</p></td><td style="vertical-align:middle" width='167'><p>Customer Already Exists With Bill E-Mail Supplied In The Request. Please Do Change The Bill E-Mail.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2070</p></td><td style="vertical-align:middle" width='167'><p>Customer Already Exists With Phone Number Supplied In The Request. Please Do Change The Phone Number.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2071</p></td><td style="vertical-align:middle" width='167'><p>Customer Already Exists With E-Mail Supplied In The Request. Please Do Change The E-Mail.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2073</p></td><td style="vertical-align:middle" width='167'><p>Phone cannot be more than 50 characters</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2074</p></td><td style="vertical-align:middle" width='167'><p>Other Addresses Phone cannot be more than 20 characters</p></td></tr></tbody></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custCreate2'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - order_no
              properties:
                customers:
                  type: array
                  items:
                    $ref: '#/components/schemas/custCreate0'
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">customerCode</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Mandatory for Customer Update Request. On creation of a Customer, Customer Code is not to be passed.</td></tr><tr align="center"><td style="vertical-align:middle">extCustomerCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Customer code in external system</td></tr><tr align="center"><td style="vertical-align:middle">customerName</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Name of the Customer</td></tr><tr align="center"><td style="vertical-align:middle">isActive</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default Yes, Possible values are Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">customerType</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Customer type as defined in other Master's</td></tr><tr align="center"><td style="vertical-align:middle">address1</td><td style="vertical-align:middle">Varchar(1000)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Address1 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">address2</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Address2 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">address3</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Address3 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">address4</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Address4 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">phone</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Phone No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">altPhone</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Alternate phone No. of Customerter</td></tr><tr align="center"><td style="vertical-align:middle">fax</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Fax No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">email1</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Email id 1 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">email2</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Email id 2 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">country</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">It should exist in country table. If it is not present in country table, it doesnt allow to create the customer</td></tr><tr align="center"><td style="vertical-align:middle">state</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">It should exist in state table. If it is not present in state table,  it doesnt allow to create the customer</td></tr><tr align="center"><td style="vertical-align:middle">city</td><td style="vertical-align:middle">Varchar(40)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">City of Customer</td></tr><tr align="center"><td style="vertical-align:middle">pinCode</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Pincode of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billAddress1</td><td style="vertical-align:middle">Varchar(1000)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Billing Address 1 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billAddress2</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Billing Address 2 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billAddress3</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Billing Address 3 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billAddress4</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Billing Address 4 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billPhone</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Billing phone No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billAltPhone</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Alternate billing phone No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billFax</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Billing Fax No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billEmail1</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Billing email id 1 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billEmail2</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Billing email id 2 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billCountry</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">It should exist in country table. If it is not present in country table,  it doesnt allow to create the customer</td></tr><tr align="center"><td style="vertical-align:middle">billState</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">It should exist in state table. If it is not present in state table,  it doesnt allow to create the customer</td></tr><tr align="center"><td style="vertical-align:middle">billCity</td><td style="vertical-align:middle">Varchar(150)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Bill City of Customer</td></tr><tr align="center"><td style="vertical-align:middle">billPinCode</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Bill Pincode of Customer</td></tr><tr align="center"><td style="vertical-align:middle">paymentTerms</td><td style="vertical-align:middle">Integer(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Should exist in CODELKUP  where lookup code is "PMTTERM"</td></tr><tr align="center"><td style="vertical-align:middle">tinNo</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It refers to the GSTIN/TIN no of the Customer</td></tr><tr align="center"><td style="vertical-align:middle">taxZone</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It should exist in taxzone table. If it is not present in the table,  it doesnt allow to create the customer</td></tr><tr align="center"><td style="vertical-align:middle">priceZone</td><td style="vertical-align:middle">Integer(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It should exist in pricezonemaster table. If it is not present in the table,  it doesnt allow to create the customer. gives an error.</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf6</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf7</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf8</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf9</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf10</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">isformC</td><td style="vertical-align:middle">Varchar(1)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">panNo</td><td style="vertical-align:middle">Varchar(12)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Pan No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">gstNo</td><td style="vertical-align:middle">Varchar(25)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It refers to the Tax Ref No of the Customer</td></tr><tr align="center"><td style="vertical-align:middle">shelflifeonPicking</td><td style="vertical-align:middle">Integer(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">No. of days of Shelf Life on Picking for SKU(s) as agreed by the user and the customer</td></tr><tr align="center"><td style="vertical-align:middle">totalShelfLife</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">No. of days of Total shelf like for SKU(s) as agreed by the user and the customer.</td></tr><tr align="center"><td style="vertical-align:middle">isTaxExempt</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are yes/no</td></tr><tr align="center"><td style="vertical-align:middle">economiczone</td><td style="vertical-align:middle">varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible value is SEZ</td></tr><tr align="center"><td style="vertical-align:middle">creditDays</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle"> Number of credit days applicable for customer</td></tr><tr align="center"><td style="vertical-align:middle">isTCSApplicable</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Possible values are yes/no</td></tr><tr align="center"><td style="vertical-align:middle">tcsPercentage</td><td style="vertical-align:middle">decimal(10,3)</td><td style="vertical-align:middle">Conditional**</td><td style="vertical-align:middle">Mandatory when isTCSApplicable is "yes", Possible values are 0.075/0.75/0.1/1</td></tr><tr align="center"><td style="vertical-align:middle" >latitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Latitudes range from -90 to 90, e. g. 17.572375290155</td></tr><tr align="center"><td style="vertical-align:middle" >longitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Longitudes range from -180 to 80, e. g. -179.572375290155</td></tr><tr align="center"><td style="vertical-align:middle" >geoType</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Geocode system type (eg. What3Words).</td></tr><tr align="center"><td style="vertical-align:middle" >geoAddress</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Customer's ship to geocode address</td></tr><tr align="center"><td style="vertical-align:middle" >geoLatitude</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Geocode latitude</td></tr><tr align="center"><td style="vertical-align:middle" >geoLongitude</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Geocode longitude</td></tr><tr align="center"><td style="vertical-align:middle" >identificationId </td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Identification Id of customer</td></tr><tr align="center"><td style="vertical-align:middle" >identificationCode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" > if identificationId is not null then identificationCode is mandatory</td></tr><tr align="center"><td style="vertical-align:middle" >pickingInstructions</td><td style="vertical-align:middle" >Array</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Maximum allowded are 10</td></tr><tr align="center"><td style="vertical-align:middle" >shippingInstructions</td><td style="vertical-align:middle" >Array</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Maximum allowded are 10</td></tr><tr align="center"><td style="vertical-align:middle" >landmark</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Nearby reference location of shipping address</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>addresses Fields</b></td></tr><tr align="center"><td style="vertical-align:middle">address1</td><td style="vertical-align:middle">Varchar(1000)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Address1 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">address2</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Address2 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">address3</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Address3 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">phone</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Phone No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">altPhone</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Alternate Phone No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">fax</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Fax No. of Customer</td></tr><tr align="center"><td style="vertical-align:middle">email1</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Email Id 1 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">email2</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Email Id 2 of Customer</td></tr><tr align="center"><td style="vertical-align:middle">country</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">It should exist in country table.If it is not present in country table,  it doesnt allow to create the customer</td></tr><tr align="center"><td style="vertical-align:middle">state</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">It should exist in state table.If it is not present in state table,  it doesnt allow to create the customer</td></tr><tr align="center"><td style="vertical-align:middle">city</td><td style="vertical-align:middle">Varchar(40)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">City Name of Customer</td></tr><tr align="center"><td style="vertical-align:middle">pinCode</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">pincode of Customer</td></tr><tr align="center"><td style="vertical-align:middle">remarks</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Remarks</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User defined field</td></tr><tr align="center"><td style="vertical-align:middle" >latitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Latitudes range from -90 to 90, e. g. 17.572375290155</td></tr><tr align="center"><td style="vertical-align:middle" >longitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Longitudes range from -180 to 80, e. g. -179.572375290155</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Maximum limit for Customers create at a time is 50.  </td></tr></tbody></table>
  /RestWS/api/eretail/v1/customer/detail:
    post:
      tags:
      - Common
      summary: Max no. of Lines/Response:100. Max Allowed Phone Numbers/EmailId- 100. API For Customer Details(Hit Quota 40/5 min)
      responses:
        200:
          description: <table border='1'width='672'>  <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>913</p></td><td style="vertical-align:middle" width='167'><p>From and To Date Range Should not be more than 7 days</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>919</p></td><td style="vertical-align:middle" width='167'><p>BillPhone OR BillEmail OR date is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>920</p></td><td style="vertical-align:middle" width='167'><p>Customer. Not Found</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>921</p></td><td style="vertical-align:middle" width='167'><p>BillPhone OR BillEmail length should not be greater than 100</p></td></tr></tbody></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerdetail'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                RequestBody:
                  type: string
                  description: <table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">Phone</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">(Priority 1) *Only if details by phones(Max 100)</td></tr><tr align="center"><td style="vertical-align:middle">email_id</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">(Priority 2) *Only if details by emails(Max 100)</td></tr><tr align="center"><td style="vertical-align:middle">fromDate</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">*Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">toDate</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">*Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">pageNumber</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default 1. (Page Size 100 Orders)</td></tr><tr align="center"><td style="vertical-align:middle">customerCode</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">*Only if details CustomerCode(Priority is given to customerCode)(Max 100)</td></tr><tr align="center"><td style="vertical-align:middle">extCustomerCode</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">*Only if details by extCustomerCode(Max 100) </td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Max Allowance - 100 Phone No and email_id at a time for getting the customer details</td></tr><tr><td  colspan=5> <b>Case 1- When phone is passed</b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"phone":["xxxx2252xx"],</br>&nbsp;&nbsp;&nbsp;&nbsp;"email_id":[],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"customerCode":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"extCustomerCode":[]</br>&nbsp;}</b><br/><br/><br/> <b>Case 2-With email id </b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"phone":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"email_id":["abc@gmail.com"],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"customerCode":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"extCustomerCode":[]</br>&nbsp;}</b><br/><br/><br/> <b>Case 3-With Date Range Filter </b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"phone":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"email_id":[""],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"03/08/2017 00:00:00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"09/08/2017 00:00:00",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"customerCode":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"extCustomerCode":[]</br>&nbsp;}</b><br/></br> <b>Case 4-With customerCode or  extCustomerCode </b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"phone":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"email_id":[],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"customerCode":["customer1","customer2"],</br>&nbsp;&nbsp;&nbsp;&nbsp;"extCustomerCode":[]</br>&nbsp;}</b><br/><br/><br/></td></tr></tbody></table><p>&nbsp;</p><br/>
                ApiOwner:
                  type: string
                  description: This Field Will Be Used To Send API Owner
                ApiKey:
                  type: string
                  description: This is the API Key
              required:
              - RequestBody
              - ApiOwner
              - ApiKey
  /RestWS/api/tally/getDocumentAck:
    post:
      tags:
      - Common
      summary: Max Allowed Date Range- 7 Days.API For Tally Details(Hit Quota 40/5 min)
      responses:
        200:
          description: <table border='1'width='672'>  <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>911</p></td><td style="vertical-align:middle" width='167'><p>No Records found for matching filters.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9170</p></td><td style="vertical-align:middle" width='167'><p>Either documentNo OR date is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9171</p></td><td style="vertical-align:middle" width='167'><p>DocumentType is mandatory</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9172</p></td><td style="vertical-align:middle" width='167'><p>DocumentNo. Not Found.</p></td></tr></tbody></table><table><tbody><tr><td style="vertical-align:middle"> <b>Sample Response Example Value</b><br/><br/>{<br/> &nbsp;"responseCode":0,</br>&nbsp;"responseMessage":"Success",<br/>&nbsp;"tallyRespDetailDTO":&nbsp{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"details":&nbsp[</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"documentNo":"20KGS8ML00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"PENDING",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"statusId":"10",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestId":"test~20KGS8ML00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"updateDate":"30/04/2019 15:12:02"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"documentNo":"20KHCTO1WWENIN0-4292299700-0",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"PENDING",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"statusId":"10",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestId":"test~20KHCTO1WWENIN0-4292299801-0",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"updateDate":"30/04/2019 15:12:02"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"documentNo":"20KHCTO1WWENIN0-4292299809-0",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"PENDING",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"statusId":"10",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestId":"test~20KHCTO1WWENIN0-4292299809-0",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"updateDate":"30/04/2019 15:12:02"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"totalRecords":&nbsp"3",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"totalPages":&nbsp1,<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"currentPage":&nbsp1</br>&nbsp;&nbsp;&nbsp;}<br/>}</b><br/><br/> </td></tbody></table>
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                RequestBody:
                  type: string
                  description: <table class="table-style-three"><tbody><tr><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">documentType</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">Pass Document Type Possible Values are[SALES, RETURNS, PURCHASE, PRETURN, ITEMS, CUSTOMER, VENDOR]</td></tr><tr align="center"><td style="vertical-align:middle">documentNo</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">**Only if details by documentNo</td></tr><tr align="center"><td style="vertical-align:middle">fromDate</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">*Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">toDate</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Mandatory*</td><td style="vertical-align:middle">*Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">statuses</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">0,1,9,10(0-QUEUE,1-SUCCESS,9-ERROR,10-PENDING)</td></tr><tr align="center"><td style="vertical-align:middle">pageNumber</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default 1. (Page Size 100 Details)</td></tr><tr><td  colspan=5> <b>Case 1- When documentNo is passed</b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"documentType":"ITEMS",</br>&nbsp;&nbsp;&nbsp;&nbsp;"documentNo":["VIN-123"],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"statuses":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"<br/>&nbsp;}</b><br/><br/><br/> <b>Case 2-With fromDate and fromDate is passed</b><br/> <b>{<br/> &nbsp;&nbsp;&nbsp;&nbsp;"documentType":"ITEMS",</br>&nbsp;&nbsp;&nbsp;&nbsp;"documentNo":[],<br/>&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"2019-04-24 16:31:00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"2019-04-30 16:31:00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;"statuses":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"<br/>&nbsp;}</b><br/><br/><br/>
                ApiOwner:
                  type: string
                  description: This Field Will Be Used To Send API Owner
                ApiKey:
                  type: string
                  description: This is the API Key
              required:
              - RequestBody
              - ApiOwner
              - ApiKey
  /RestWS/api/eretail/v1/common/skuCategoryDetail:
    post:
      tags:
      - Common
      summary: Max no. of Lines/Response:100 API For Get Sku Category Detail(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9185</p></td><td style="vertical-align:middle" width='167'><p>At Least One Filter is Mandatory</p></td></tr></tbody></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/skuCategoryDetail1'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - merchId
              properties:
                merchId:
                  type: array
                  items:
                    type: string
                  example:
                  - '1131'
                extMerchCode:
                  type: string
                  example: ''
                merchName:
                  type: array
                  items:
                    type: string
                  example: []
                parentMerchCode:
                  type: string
                  example: ''
                fromDate:
                  type: string
                  example: ''
                toDate:
                  type: string
                  example: '1'
                pageNumber:
                  type: string
                  example: '1'
                filterBy:
                  type: string
                  example: ''
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">merchId</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Mandatory if Date Range filter are not given.</td></tr><tr align="center"><td style="vertical-align:middle">extMerchCode</td><td style="vertical-align:middle">varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">External merchhierarchy code.</td></tr><tr align="center"><td style="vertical-align:middle">merchName</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Merchhierarchy names.</td></tr><tr align="center"><td style="vertical-align:middle">parentMerchCode</td><td style="vertical-align:middle">varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Parent Merchhierarchy code.</td></tr><tr align="center"><td style="vertical-align:middle">fromDate</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">**Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">toDate</td><td style="vertical-align:middle">datetime</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">**Only if details by filter (DD/MM/YYYY HH:mm:ss)</td><tr align="center"><td style="vertical-align:middle">pageNumber</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default 1. (Page Size 100 Orders)</td></tr></tr><tr align="center"><td style="vertical-align:middle">filterBy</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">&nbsp;It will get validated in case of Date Range filter. Get detail on the basis of updation or creation date Default:1, Possible values are 1(create date), 2(update date),</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>Case 1:&nbsp;Get Sku Category Detail by merchId(s)</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"merchId":["1131"],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"extMerchCode":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"merchName":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"parentMerchCode":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"filterBy":""</br>&nbsp;}</br></br>&nbsp;Case 2:&nbsp;Get Sku Category Detail by Date Range</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"merchId":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"extMerchCode":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"merchName":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"parentMerchCode":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"07/07/2018 00:00:00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"10/07/2018 00:00:00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"filterBy":"2"</br>&nbsp;}</br></br>&nbsp;</tbody></table>
  /RestWS/api/eretail/v1/common/lpnUpdate:
    post:
      tags:
      - Common
      summary: Max no. of Lines/hit:50 API For lpnUpdate(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>E18</p></td><td style="vertical-align:middle" width='167'><p>API module misconfigured</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>E5</p></td><td style="vertical-align:middle" width='167'><p>Empty Request</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>E10061</p></td><td style="vertical-align:middle" width='167'><p>Maximum 50 lpnNos status can be changed</p></td></tr></tbody></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lpnUpdate'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - order_no
              properties:
                lpns:
                  type: array
                  items:
                    $ref: '#/components/schemas/lpnsG'
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">lpnNos</td><td style="vertical-align:middle">varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">LPN No.</td></tr><tr align="center"><td style="vertical-align:middle">status</td><td style="vertical-align:middle">varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">New, Open, Reopen, closed, etc., Defined in Codelkup with lkupcode 'LPNSTS'.</td></tr><tr align="center"><td style="vertical-align:middle">length</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">length in box</td></tr><tr align="center"><td style="vertical-align:middle">breadth</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">breadth in box</td></tr><tr align="center"><td style="vertical-align:middle">height</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">height in box </td></tr><tr align="center"><td style="vertical-align:middle">weight</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">weight in box</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "lpns" :[</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lpnNos" :"EWH000000465",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status" :"REOPEN",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"length" :"50",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"breadth" :"10",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"height" :"12",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"weight" :"50"</br>&nbsp;}</br>&nbsp;]</br>&nbsp;}</br></br></br>&nbsp;</tbody></table>
  /RestWS/api/eretail/v1/master/locationFetch:
    post:
      tags:
      - Common
      summary: Max no. of Lines/Response:50 API For Get Locations Detail(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>813</p></td><td style="vertical-align:middle" width='167'><p>From Date Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>814</p></td><td style="vertical-align:middle" width='167'><p>To Date Format Not Correct Should Be (dd/MM/yyyy)</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>1105</p></td><td style="vertical-align:middle" width='167'><p>No Record Found</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2005</p></td><td style="vertical-align:middle" width='167'><p>PageNumber or PageSize Having Invalid Value</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2017</p></td><td style="vertical-align:middle" width='167'><p>From date should not be null/Empty.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>2018</p></td><td style="vertical-align:middle" width='167'><p>To date should not be null/Empty.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9185</p></td><td style="vertical-align:middle" width='167'><p>Atleast One Filter is Mandatory</p></td></tr></tbody></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locationFetch0'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                locCodes:
                  type: array
                  items:
                    type: string
                  example: []
                fromDate:
                  type: string
                  example: ''
                toDate:
                  type: string
                  example: ''
                fetchChildLocation:
                  type: string
                  example: ''
                pageNumber:
                  type: string
                  example: '1'
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">locCodes</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">eRetail Location Code or loccode of external system</td></tr><tr align="center"><td style="vertical-align:middle">fromDate</td><td style="vertical-align:middle">Datetime</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">**Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">toDate</td><td style="vertical-align:middle">Datetime</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">**Only if details by filter (DD/MM/YYYY HH:mm:ss)</td></tr><tr align="center"><td style="vertical-align:middle">pageNumber</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default 1. (Page size 100 records)</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Max Allowance - 50 locCodes at a time.</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>Case 1:&nbsp;If the request has no filter(All locations are fetched)</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"locCodes":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fetchChildLocation":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"</br>&nbsp;}</br></br>&nbsp;Case 2:&nbsp;Get Locations Detail by Date Range</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"locCodes":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fromDate":"08/08/2018 00:00:00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"toDate":"08/08/2019 00:00:00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"fetchChildLocation":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pageNumber":"1"</br>&nbsp;}</br></br>&nbsp;</tbody></table>
  /RestWS/api/eretail/v1/channel/createEdit:
    post:
      tags:
      - Common
      summary: API For Channel Create Update(Hit Quota 40/5 min)
      parameters:
      - in: header
        name: ApiOwner
        required: true
        description: API Owner.
        schema:
          type: string
      - in: header
        name: ApiKey
        required: true
        description: API Key.
        schema:
          type: string
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5063</p></td><td style="vertical-align:middle" width='167'><p>channelName is a mandatory field. It cannot be null or blank.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5064</p></td><td style="vertical-align:middle" width='167'><p>channelName cannot be more than 50 characters.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5065</p></td><td style="vertical-align:middle" width='167'><p>Status is a mandatory field. It can either be Active or Inactive.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5066</p></td><td style="vertical-align:middle" width='167'><p>channelCode cannot be more than 5 characters.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5067</p></td><td style="vertical-align:middle" width='167'><p>linkSkusToAllLocation is a mandatory field. It cannot be null or blank. It can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5068</p></td><td style="vertical-align:middle" width='167'><p>shippingBy is a mandatory field. It cannot be null or blank. It can either be 1 or 2. 1 is for Marketplace and 2 is for Self Ship</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5069</p></td><td style="vertical-align:middle" width='167'><p>useShippingLabel is a mandatory field. It cannot be null or blank. It can either be Yes or No. This field indicates the use of Marketplace Shipping Label.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5070</p></td><td style="vertical-align:middle" width='167'><p>useInvoice is a mandatory field. It cannot be null or blank. It can either be Yes or No. This field indicates the use of Marketplace Invoice.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5071</p></td><td style="vertical-align:middle" width='167'><p>skuPullEnabled is a mandatory field. It cannot be null or blank. It can either be Yes or No.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5072</p></td><td style="vertical-align:middle" width='167'><p>invPerc can only be numeric. It is the percentage of inventory to be synced to Marketplace/Webshop</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5073</p></td><td style="vertical-align:middle" width='167'><p>invSyncEnabled is a mandatory field. It cannot be null or blank. It can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5074</p></td><td style="vertical-align:middle" width='167'><p>returnPullEnabled is a mandatory field. It cannot be null or blank. It can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5075</p></td><td style="vertical-align:middle" width='167'><p>prepackEnabled is a mandatory field. It cannot be null or blank. It can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5076</p></td><td style="vertical-align:middle" width='167'><p>invSyncMethod is a mandatory field. It cannot be null or blank. It can either be 1 or 2</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5077</p></td><td style="vertical-align:middle" width='167'><p>vendorPullEnabled can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5078</p></td><td style="vertical-align:middle" width='167'><p>isConfigured is a mandatory field. It cannot be null or blank. It can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5079</p></td><td style="vertical-align:middle" width='167'><p>extWarehouseId cannot be more than 100 characters.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5080</p></td><td style="vertical-align:middle" width='167'><p>vendorId cannot be more than 100 characters.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5081</p></td><td style="vertical-align:middle" width='167'><p>jitVendorEnabled can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5082</p></td><td style="vertical-align:middle" width='167'><p>enableBackOrder can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5083</p></td><td style="vertical-align:middle" width='167'><p>enableInvRecon can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5084</p></td><td style="vertical-align:middle" width='167'><p>channelSLA is a mandatory field. </p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5085</p></td><td style="vertical-align:middle" width='167'><p>channelSLA can only be numeric.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5086</p></td><td style="vertical-align:middle" width='167'><p>RTSMode is a mandatory field. It cannot be null or blank. It can either be 1 or 2</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5087</p></td><td style="vertical-align:middle" width='167'><p>skuCreateMode can either be M or C</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5088</p></td><td style="vertical-align:middle" width='167'><p>designatedWHforInventory is only applicable when invSyncMethod is 2</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5106</p></td><td style="vertical-align:middle" width='167'><p>designatedWHforInventory is a mandatory field when invSyncMethod is 2</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5089</p></td><td style="vertical-align:middle" width='167'><p>eachQtyPerLine can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5090</p></td><td style="vertical-align:middle" width='167'><p>maxAllowedInv can only be numeric.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5107</p></td><td style="vertical-align:middle" width='167'><p>DesignatedWHforInventory cannot be more than 5 characters.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5092</p></td><td style="vertical-align:middle" width='167'><p>taxExclusive is a mandatory field. It cannot be null or blank. It can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5093</p></td><td style="vertical-align:middle" width='167'><p>priceSyncEnabled can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5094</p></td><td style="vertical-align:middle" width='167'><p>sendLocWiseInv can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5095</p></td><td style="vertical-align:middle" width='167'><p>Address 2 Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5096</p></td><td style="vertical-align:middle" width='167'><p>billPartyName is a mandatory field. It cannot be left null or blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5097</p></td><td style="vertical-align:middle" width='167'><p>Status under Bill to Party is a mandatory field. It can either be Active or Inactive.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5098</p></td><td style="vertical-align:middle" width='167'><p>City under Bill to Party is a mandatory field. It cannot be left null or blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5099</p></td><td style="vertical-align:middle" width='167'><p>Country under Bill to Party is a mandatory field. It cannot be left null or blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5100</p></td><td style="vertical-align:middle" width='167'><p>VatNo under Bill to Party Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5101</p></td><td style="vertical-align:middle" width='167'><p>Zipcode under Bill to Party Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5102</p></td><td style="vertical-align:middle" width='167'><p>orderSourceWH is a mandatory field. It cannot be null or blank. It should be valid location in ERP.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5103</p></td><td style="vertical-align:middle" width='167'><p>channelTypeName is a mandatory field. It cannot be null or blank.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5104</p></td><td style="vertical-align:middle" width='167'><p>Bill to Party is mandatory. It cannot be null or blank.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5105</p></td><td style="vertical-align:middle" width='167'><p>Date Format is not correct. It should be (dd-MM-yyyy HH:mm:ss).</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5108</p></td><td style="vertical-align:middle" width='167'><p>storeId cannot be more than 10 characters.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5109</p></td><td style="vertical-align:middle" width='167'><p>InvSyncMinBuffer can only be numeric. It cannot be more than 11 digits.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5110</p></td><td style="vertical-align:middle" width='167'><p>orderSyncEnabled is a mandatory field. It cannot be null or blank. It can either be Yes or No</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5112</p></td><td style="vertical-align:middle" width='167'><p>orderSourceWH cannot be more than 10 characters.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5113</p></td><td style="vertical-align:middle" width='167'><p>billPartyCode should be numeric.It cannot be more than 11 digits long.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5114</p></td><td style="vertical-align:middle" width='167'><p>customerCode should be numeric.It cannot be more than 20 digits long.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5115</p></td><td style="vertical-align:middle" width='167'><p>emailId under Bill to Party passed is not in correct format.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>5116</p></td><td style="vertical-align:middle" width='167'><p>tinNo under Bill to Party Is A Mandatory Field. It Cannt Be Left Null Or Blank</p></td></tr></tbody></table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCreateUpdateJSON1'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channels:
                  type: array
                  items:
                    $ref: '#/components/schemas/ChannelCreateUpdateJSON0'
        description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle">channelName</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Name of channel for identification</td></tr><tr align="center"><td style="vertical-align:middle">channelCode</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">System Auto generated Channel Code i.e. M01, N01, N99 etc</td></tr><tr align="center"><td style="vertical-align:middle">status</td><td style="vertical-align:middle">char(1)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">1 for Active and 0 for In-active channel</td></tr><tr align="center"><td style="vertical-align:middle">orderSourceWH</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Should be a valid location code created in ERP</td></tr><tr align="center"><td style="vertical-align:middle">linkSkuStoAllLocation</td><td style="vertical-align:middle">Varchar(3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Enable Link to Location for the channel, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">channelTypeName</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Name of the Marketplace Name created in System</td></tr><tr align="center"><td style="vertical-align:middle">orderSyncEnabled</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Used to enable the order Pull interface of the channel, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">shippingBy</td><td style="vertical-align:middle">tinyint(6)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">1 is for Marketplace and 2 is for Self Ship</td></tr><tr align="center"><td style="vertical-align:middle">useShippingLabel</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Use Marketplace Shipping label or Not, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">useInvoice</td><td style="vertical-align:middle">smallint(6)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Use Marketplace Invoice label or Not</td></tr><tr align="center"><td style="vertical-align:middle">skuPullEnabled</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Pull the SKUs from Marketplace or Not</td></tr><tr align="center"><td style="vertical-align:middle">invPerc</td><td style="vertical-align:middle">Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Always Numeric, define the percentage of inventory to be synced to Marketplace/We bshop</td></tr><tr align="center"><td style="vertical-align:middle">invSyncEnabled</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Enable the Inventory Sync of that channel to sync the inventory to Marketplace/We bshop, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">returnPullEnabled</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Enable the return Sync of that channel to sync, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">prePackEnabled</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Enable the Prefetch Label Feature of that channel to pull the ship label after picklist generation automatically, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">vendorPullEnabled</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Enable the Vendor Pull Feature, Not applicable to Marketplaces, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">invSyncMethod</td><td style="vertical-align:middle">Varchar(1)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">1 is for all locations, and 2 is for custom locations defined in designatedWH</td></tr><tr align="center"><td style="vertical-align:middle">merchantId</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Channel Specific credentials</td></tr><tr align="center"><td style="vertical-align:middle">apiUrl</td><td style="vertical-align:middle">Varchar(400)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Channel Specific credentials</td></tr><tr align="center"><td style="vertical-align:middle">apiKey</td><td style="vertical-align:middle">Varchar(1000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Channel Specific credentials</td></tr><tr align="center"><td style="vertical-align:middle">apiPassword</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Channel Specific credentials</td></tr><tr align="center"><td style="vertical-align:middle">userName</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Channel Specific credentials</td></tr><tr align="center"><td style="vertical-align:middle">password</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Channel Specific credentials</td></tr><tr align="center"><td style="vertical-align:middle">authToken</td><td style="vertical-align:middle">Varchar(100)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Channel Specific credentials</td></tr><tr align="center"><td style="vertical-align:middle">storeId</td><td style="vertical-align:middle">Varchar(10)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Channel Specific credentials</td></tr><tr align="center"><td style="vertical-align:middle">isConfigured</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Channel Specific credentials, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">channelSkuPrefix</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Prefix to to added to SKU Code pulled from Marketplace</td></tr><tr align="center"><td style="vertical-align:middle">channelSkuSuffix</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Suffix to to added to SKU Code pulled from Marketplace</td></tr><tr align="center"><td style="vertical-align:middle">vendorId</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">VendorId to be linked to the channel</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">jitVendorEnabled</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">To enable the order routing on the basis of JIT vendor, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">invSyncMinBuffer</td><td style="vertical-align:middle">Varchar(11)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Inventory Sync Buffer for that channel</td></tr><tr align="center"><td style="vertical-align:middle">enableBackOrder</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Enable the Back Order inventory, Applicable for JIT channels only, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">enableInventoryRecon</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">To Enable the inventory Reconciliation</td></tr><tr align="center"><td style="vertical-align:middle">channelSLA</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Channel SLA to be Set</td></tr><tr align="center"><td style="vertical-align:middle">rtsMode</td><td style="vertical-align:middle">Varchar(1)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">1 is for Marking ready to Ship to Marketplaces at Manifest and 2 is for Marking Ready to Ship on Pack (Applicable to specific MPs)</td></tr><tr align="center"><td style="vertical-align:middle">designatedWHforInventory</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Valid Location code created in ERP for inventory sync and applicable if invsyncmethod= 2</td></tr><tr align="center"><td style="vertical-align:middle">maxAllowedInv</td><td style="vertical-align:middle">Integer</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Max Allowed inventory push for the SKUs on that channel</td></tr><tr align="center"><td style="vertical-align:middle">customerCode</td><td style="vertical-align:middle">Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Customer Code to be linked to channel</td></tr><tr align="center"><td style="vertical-align:middle">skuCreateMode</td><td style="vertical-align:middle">Varchar(1)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">C is for creating the SKU pulled from Marketplace and M is for Moderate i.e. Linking the MP Sku to Vin- eRetail SKU</td></tr><tr align="center"><td style="vertical-align:middle">eachQtyPerLine</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Spilit the orderline quantity to 1 quantity per line of that SKU, Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">internationalInvoice</td><td style="vertical-align:middle">Varchar(25)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Name of the international Invoice Report Name to be configure to Channel</td></tr><tr align="center"><td style="vertical-align:middle">domasticlInvoice</td><td style="vertical-align:middle">Varchar(25)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Name of the domestic Invoice Report Name to be configure to Channel</td></tr><tr align="center"><td style="vertical-align:middle">orderPullFromDate</td><td style="vertical-align:middle">Datetime</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">DateTime from which the order needs to be pulled</td></tr><tr align="center"><td style="vertical-align:middle">taxExclusive</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Always No, Should be used as Yes If the orders pushed to the channel have Unit Price exclusive of Tax</td></tr><tr align="center"><td style="vertical-align:middle">priceSyncEnabled</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Enable the Price Sync(Applicableto specific Channels only), Possible values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle">sendLocWiseInv</td><td style="vertical-align:middle">tinyint(6)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Default is No and this is applicable to Webshops supporting multi location inventory Push</td></tr><tr align="center"><td style="vertical-align:middle">shippingLabel</td><td style="vertical-align:middle">Varchar(25)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Name of the Shipping label report to be set on channel Orders</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>billToParty</b></td></tr><tr align="center"><td style="vertical-align:middle">billPartyCode</td><td style="vertical-align:middle">Varchar(11)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">AutoGenerated BilltoPartyCode</td></tr><tr align="center"><td style="vertical-align:middle">address1</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Address 1 of the party</td></tr><tr align="center"><td style="vertical-align:middle">address2</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Address 2 of the party</td></tr><tr align="center"><td style="vertical-align:middle">billPartyName</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Name of the Bill to Party</td></tr><tr align="center"><td style="vertical-align:middle">status</td><td style="vertical-align:middle">Varchar(1)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">1 is for active and 2 for In- active</td></tr><tr align="center"><td style="vertical-align:middle">city</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">City Name</td></tr><tr align="center"><td style="vertical-align:middle">country</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Country Name</td></tr><tr align="center"><td style="vertical-align:middle">cstNo</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">CST No.</td></tr><tr align="center"><td style="vertical-align:middle">email</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Email Address</td></tr><tr align="center"><td style="vertical-align:middle">iecCode</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">IEC code</td></tr><tr align="center"><td style="vertical-align:middle">phoneNo</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Phone No</td></tr><tr align="center"><td style="vertical-align:middle">state</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">State Name</td></tr><tr align="center"><td style="vertical-align:middle">tinNo</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">TIN No</td></tr><tr align="center"><td style="vertical-align:middle">udf1</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf2</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf3</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf4</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">udf5</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle">vatNo</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">GSTNo. Of the Bill to Party</td></tr><tr align="center"><td style="vertical-align:middle">zipcode</td><td style="vertical-align:middle">Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">PinCode/Zipcode</td></tr><tr align="center"><td style="vertical-align:middle">signImageURL</td><td style="vertical-align:middle">Varchar(200)</td><td style="vertical-align:middle">Opional</td><td style="vertical-align:middle">Signature Image URL</td></tr><tr align="center"><td style="vertical-align:middle">channelDescription</td><td style="vertical-align:middle">Varchar(70)</td><td style="vertical-align:middle">Opional</td><td style="vertical-align:middle">Description of Channel </td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Additional Information</b></td></tr><tr align="left"><td style="vertical-align:middle" colspan=4 >Max Allowance - 50 locCodes at a time.</td></tr><tr><td style="vertical-align:middle" colspan=4> <b>Case 1:&nbsp;Request for Channel Create</br>{</br>&nbsp;&nbsp;&nbsp;"channels":[</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"channelName":"MR009",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"channelCode":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"orderSourceWH":"iwh",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"linkSkuStoAllLocation":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"channelTypeName":"Myntra",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"orderSyncEnabled":"No",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"shippingBy":"2",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"billToParty":{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"billPartyCode":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"address1":"Test&nbsp;address&nbsp;1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"adress2":"Test&nbsp;Address&nbsp;2",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"billPartyName":"BillParty3",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"city":"107",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"country":"india",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"cstNo":"w5swfx",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"email":"test@test.com",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"iecCode":"12345678765432123456765432",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"phoneNo":"9999999999",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"state":"delhi",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"tinNo":"123",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"34R34TV45T54",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"GHN5664",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"S758347BV5T854",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"VET54T54",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"B873C4Y34",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"vatNo":"V4T45T65",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"zipcode":"VT54T546",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"signImageURL":"https://www.digitalsingatureimageurl/234567/1234.jpg"</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"useShippingLabel":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"useInvoice":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"skuPullEnabled":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"invPerc":"75",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"invSyncEnabled":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"returnPullEnabled":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"prePackEnabled":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"vendorPullEnabled":"yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"invSyncMethod":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"merchantId":"testmerchantid",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"apiUrl":"https://www.test.com/api",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"apiKey":"fsdcfcxvvzcxvcvcvvcvdfgghhgd",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"apiPassword":"fgfgvscaxdfvgb",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"userName":"test@test.com",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"password":"testpassword",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"authToken":"ddfdfsdfcxvvvvvfggghbvccc",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"storeId":"45dfnd",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"isConfigured":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"channelSkuPrefix":"AB",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"channelSkuSuffix":"PQ",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"vendorId":"XYZ",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"245f",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"1345",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"1234",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"2345f",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb
[...]
