swagger: '2.0'
info:
host: erp.vineretail.com
#basePath: /RestWS/api/eretail
## 
tags: 

- name: Orders
  description: API to retrieve or manipulate Order related information.
  
- name: Order Returns
  description: API to retrieve or create return for an order.

- name: Common
  description: API to facilitate Common Operations.
  
- name: Vendors
  description: API to retrieve or manipulate Vendor related information.
  
- name: Products
  description: API to retrieve or manipulate SKU related information.
  
- name: Purchase Orders
  description: API to retrieve or manipulate Purchase Order related information.

- name: Inbounds
  description: API to retrieve or manipulate Inbound related information.
  
- name: Stock
  description: API to retrieve or manipulate Stock related information.
  
- name: Advance Shipping Notice
  description: API to retrieve or manipulate ASN related information.

- name: Transfers
  description: API to create Stock Transfer Order in Eretail
 
- name: Return to Vendor
  description: API to retrieve or manipulate Return to Vendor related information.
  
- name: Putaway
  description: API to create putaway
  
- name: Manifest
  description: API to create Manifest
    

paths:
 
  /RestWS/api/eretail/v1/order/create:
    post:
      tags: 
      - Orders
      summary: API For Creating Order(Hit Quota 80/5 min)
      consumes:
        - application/x-www-form-urlencoded
      produces:
        - application/json
      parameters: 
        - in: formData
          name: RequestBody
          required: true
          type: string
          description: <table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle" >order_location</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >The Channel code that is used to identify the Channel/Source from where the order was received.</td></tr><tr align="center"><td style="vertical-align:middle" >master_order_no</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >The unique identifier for the master order, used to group or track related orders.</td></tr><tr align="center"><td style="vertical-align:middle" >awbNo</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Tracking Number</td></tr><tr align="center"><td style="vertical-align:middle" >uniqueKey</td><td style="vertical-align:middle" >Varchar(15)</td><td style="vertical-align:middle">Optional</td><td style="veritcal-align:middle">Field uniqueKey is a unique identifier to identify the API Call.</td></tr><tr align="center"><td style="vertical-align:middle" >order_no</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Orderno from external system</td></tr><tr align="center"><td style="vertical-align:middle" >order_type</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >e.g. COD, Prepaid. Master Code:ODRTYPE</td></tr><tr align="center"><td style="vertical-align:middle" >payment_type</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >e.g. Credit Card, Cash</td></tr><tr align="center"><td style="vertical-align:middle" >order_amount</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Total amount for the order, including item costs, shipping charges, and applicable taxes..</td></tr><tr align="center"><td style="vertical-align:middle" >status</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >&nbsp;e. g. Pending, Confirmed. (Master Code:ODRSTS)&nbsp;</td></tr><tr align="center"><td style="vertical-align:middle" >hold_status</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. yes ,no</td></tr><tr align="center"><td style="vertical-align:middle" >address_verified</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. yes ,no</td></tr><tr align="center"><td style="vertical-align:middle" >payment_verified</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. yes ,no</td></tr><tr align="center"><td style="vertical-align:middle" >address_type</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible values are Home , Office, Work and Other</td></tr><tr align="center"><td style="vertical-align:middle" >order_date</td><td style="vertical-align:middle" >Datetime</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle" >Format given in Generic Information section</td></tr><tr align="center"><td style="vertical-align:middle" >shipby_date</td><td style="vertical-align:middle" >Datetime</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Format given in Generic Information section</td></tr><tr align="center"><td style="vertical-align:middle" >expDelDate</td><td style="vertical-align:middle" >Datetime</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Format given in Generic Information section</td></tr><tr align="center"><td style="vertical-align:middle" >order_currency</td><td style="vertical-align:middle" >Varchar(10)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >e.g. INR, USD</td></tr><tr align="center"><td style="vertical-align:middle" >conversion_rate</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Exchange rate used for currency conversion to organisation base currency&nbsp;&nbsp;</td></tr><tr align="center"><td style="vertical-align:middle" >is_replacement</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Yes/No , For Creating replacement order pass value as "Yes"</td></tr><tr align="center"><td style="vertical-align:middle" >original_orderno</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >If is_replacement='Yes' then this field is mandatory</td></tr><tr align="center"><td style="vertical-align:middle" >customer_code</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" ><p>If customer code will be provided then order will be created with provided customer code, If not then system will consider order for Default Customer code. i.e. 999999</p></td></tr><tr align="center"><td style="vertical-align:middle" >extCustomerCode</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" ><p>If extcustomer code will be provided then order will be created with provided extcustomer code</p></td></tr><tr align="center"><td style="vertical-align:middle" >customer_name</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Name of the customer placing the order.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_address1</td><td style="vertical-align:middle" >Varchar(1000)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle" >Primary shipping address line for the order.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_address2</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary shipping address line (if applicable).</td></tr><tr align="center"><td style="vertical-align:middle" >ship_address3</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle" >Additional shipping address line (if applicable).</td></tr><tr align="center"><td style="vertical-align:middle" >ship_address4</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Extra field for additional address details.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_city</td><td style="vertical-align:middle" >Varchar(40)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >City name for the shipping address.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_state</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >State name for the shipping address.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_country</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Country name for the shipping address.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_pincode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Pincode for the shipping address.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_phone1</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Primary contact phone number for shipping.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_phone2</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary contact phone number for shipping (if available).</td></tr><tr align="center"><td style="vertical-align:middle" >ship_email1</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Primary email address for shipping communication.</td></tr><tr align="center"><td style="vertical-align:middle" >ship_email2</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary email address for shipping communication (if available).</td></tr><tr align="center"><td style="vertical-align:middle" >bill_name</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Name of the person or entity for billing purposes.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_address1</td><td style="vertical-align:middle" >Varchar(1000)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Primary billing address line.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_address2</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary billing address line (if applicable).</td></tr><tr align="center"><td style="vertical-align:middle" >bill_address3</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle" >Additional billing address line (if applicable).</td></tr><tr align="center"><td style="vertical-align:middle" >bill_address4</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Extra field for additional billing address details.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_city</td><td style="vertical-align:middle" >Varchar(40)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >City name for the billing address.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_state</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >State name for the billing address.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_phone2</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >An alternate phone number for billing-related communication.</td></tr><tr align="center"><td style="vertical-align:middle" >landmark</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Landmark or nearby reference for the billing address, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >latitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Latitudes range from -90 to 90, e. g. 17.572375290155</td></tr><tr align="center"><td style="vertical-align:middle" >longitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Longitudes range from -180 to 80, e. g. -179.572375290155</td></tr><tr align="center"><td style="vertical-align:middle" >url</td><td style="vertical-align:middle" >Varchar(300)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >URL associated with the order, such as website landing page link, Order status= confirmed then the URL must get embedded.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_country</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Country name for the billing address.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_pincode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">Postal code for the billing address.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_phone1</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Primary contact phone number for billing.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_email1</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Primary email address for billing communication.</td></tr><tr align="center"><td style="vertical-align:middle" >bill_email2</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary email address for billing communication (if available).</td></tr><tr align="center"><td style="vertical-align:middle" >order_remarks</td><td style="vertical-align:middle" >Varchar(5000)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Remarks against order</td></tr><tr align="center"><td style="vertical-align:middle" >shipping_charges</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Charges for shipping the order, in the specified currency.</td></tr><tr align="center"><td style="vertical-align:middle" >other_charge1</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Additional charges for the order (e.g., handling fees).</td></tr><tr align="center"><td style="vertical-align:middle" >other_charge2</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Any other applicable charges for the order.</td></tr><tr align="center"><td style="vertical-align:middle" >store_credit</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Store credit applied to the order, if any.</td></tr><tr align="center"><td style="vertical-align:middle" >discount_code</td><td style="vertical-align:middle" >Varchar(30)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Discount code applied to the order</td></tr><tr align="center"><td style="vertical-align:middle" >rewardPointsAmount</td><td style="vertical-align:middle" >Decimal(20,5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Amount redeemed using customer reward points for this order.</td></tr><tr align="center"><td style="vertical-align:middle" >cancel_remark</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Remarks or reasons for canceling the order, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >is_giftwrap</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible Values Yes/No</td></tr><tr align="center"><td style="vertical-align:middle" >giftwrap_msg</td><td style="vertical-align:middle" >Varchar(500)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Giftwrap Message</td></tr><tr align="center"><td style="vertical-align:middle" >giftwrapCharge</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Additional charge applied for gift-wrapping services, if opted.</td></tr><tr align="center"><td style="vertical-align:middle" >giftWrapType</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Free text field specifying the type of gift wrapping.</td></tr><tr align="center"><td style="vertical-align:middle" >delivery_slot</td><td style="vertical-align:middle" >Varchar(11)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. 14:00-17:00</td></tr><tr align="center"><td style="vertical-align:middle" >tags</td><td style="vertical-align:middle" >Array</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Allowed max 10 ordertags, comma seprated.</td></tr><tr align="center"><td style="vertical-align:middle" >viewDetails</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle"> Possible Values are  1(to view SKU details with status),0</td></tr><tr align="center"><td style="vertical-align:middle" >udf1</td><td style="vertical-align:middle" >Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Items UDF1 must NOT be greater than 2000 characters</td></tr><tr align="center"><td style="vertical-align:middle" >udf2</td><td style="vertical-align:middle" >Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Items UDF2 must NOT be greater than 2000 characters</td></tr><tr align="center"><td style="vertical-align:middle" >udf3</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf4</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf5</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf6</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf7</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf8</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf9</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf10</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf11</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf12</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf13</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf14</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf15</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >custtinno</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Customer Tax Identification Number (TIN)</td></tr><tr align="center"><td style="vertical-align:middle" >pickAfterDate</td><td style="vertical-align:middle" >Datetime</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Pick After date, Date format should be like DD/MM/YYYY HH:MM:SS</td></tr><tr align="center"><td style="vertical-align:middle" >cust_type</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible values are B2B, B2C etc, Default B2C</td></tr><tr align="center"><td style="vertical-align:middle" >req_type</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle" >create/update , For "create" value it check is order already exist or not </td></tr><tr align="center"><td style="vertical-align:middle" >pickupLocation</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle" >Orders should be routed to the location that is being passed in this field</td></tr><tr align="center"><td style="vertical-align:middle" >handoverValCode</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Handover validation code for the handover process</td></tr><tr align="center"><td style="vertical-align:middle" >geoType</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Geocode system type (eg. What3Words).</td></tr><tr align="center"><td style="vertical-align:middle" >geoAddress</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Customer's ship to geocode address</td></tr><tr align="center"><td style="vertical-align:middle" >geoLatitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Geocode latitude</td></tr><tr align="center"><td style="vertical-align:middle" >geoLongitude</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Geocode longitude</td></tr><tr align="center"><td style="vertical-align:middle" >orderProcessing</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Possible values are B2B, B2C etc, Default B2C</td></tr><tr align="center"><td style="vertical-align:middle" >userConsent</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Possible values are Y/N, Default Y</td></tr><tr align="center"><td style="vertical-align:middle" >identificationId </td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Define in codelkup table with lkupcode "IDNTFYBUYRCODE"</td></tr><tr align="center"><td style="vertical-align:middle" >identificationCode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" > if identificationId is not null then identificationCode is mandatory</td></tr><tr align="center"><td style="vertical-align:middle" >pickingInstructions</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Instructions for the warehouse or picker regarding order picking for the order.</td></tr><tr align="center"><td style="vertical-align:middle" >shippingInstructions</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" > Instructions for the warehouse or picker regarding order shipping for the order.</td></tr><tr align="center"><td style="vertical-align:middle" >distributionType</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Distribution Type</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Items Fields</b></td></tr><tr align="center"><td style="vertical-align:middle" >lineno</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Lineno of external system</td></tr><tr align="center"><td style="vertical-align:middle" >sku</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >SKU code from masters </td></tr><tr align="center"><td style="vertical-align:middle" >channelSkuCode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >External System SKU code/Marketplace SKU code</td></tr><tr align="center"><td style="vertical-align:middle" >channelProductId</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >ProductId of the SKU created in external system/Marketplace</td></tr><tr align="center"><td style="vertical-align:middle" >order_qty</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >The quantity of the item ordered.</td></tr><tr align="center"><td style="vertical-align:middle" >cancelled_qty</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >The quantity of the item that has been canceled from the order, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >unit_price</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle">The price per unit of the item ordered.</td></tr><tr align="center"><td style="vertical-align:middle" >bundle_sku</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >The price per unit of the item ordered.</td></tr><tr align="center"><td style="vertical-align:middle" >bundle_price</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Mandatory when bundle_sku is passed</td></tr><tr align="center"><td style="vertical-align:middle" >bundle_qty</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Mandatory when bundle_sku is passed</td></td></tr><tr align="center"><td style="vertical-align:middle" >bagId</td><td style="vertical-align:middle" >Varchar(250)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >If BagId is entered, the quantity of the SKU must not exceed 1, Multiple BagId can be given using comma separated values</td></tr><tr align="center"><td style="vertical-align:middle" >mrp</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >MRP of the item being ordered.</td></tr><tr align="center"><td style="vertical-align:middle" >discount_amt</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Total discount amount applied to the order line.</td></tr><tr align="center"><td style="vertical-align:middle" >gift_voucher_amt</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Amount redeemed from a gift voucher or coupon for the order line.</td></tr><tr align="center"><td style="vertical-align:middle" >shipping_charges</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Cost of shipping the order line, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >other_charge1</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Any additional charge associated with the order, such as handling fees or service charges.</td></tr><tr align="center"><td style="vertical-align:middle" >transporter</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Transporter code as per masters, Multiple transporters can be given using comma separated values</td></tr><tr align="center"><td style="vertical-align:middle" >store_credit</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Store credit applied to the order line, if any.</td></tr><tr align="center"><td style="vertical-align:middle" >is_giftcard</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Yes/No</td></tr><tr align="center"><td style="vertical-align:middle" >vendor</td><td style="vertical-align:middle" >Varchar(10)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Vendor code as per masters</td></tr><tr align="center"><td style="vertical-align:middle" >mode</td><td style="vertical-align:middle" >Varchar(8)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. wms , dropship</td></tr><tr align="center"><td style="vertical-align:middle" >tax_inclusive</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Acceptable values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle" >tax_percentage</td><td style="vertical-align:middle" >Decimal(20,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Tax percentage applied to an order</td></tr><tr align="center"><td style="vertical-align:middle" >udf1</td><td style="vertical-align:middle" >Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle"> Items UDF1 must NOT be greater than 2000 characters</td></tr><tr align="center"><td style="vertical-align:middle" >udf2</td><td style="vertical-align:middle" >Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Items UDF2 must NOT be greater than 2000 characters</td></tr><tr align="center"><td style="vertical-align:middle" >udf3</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf4</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf5</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf6</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf7</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf8</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf9</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf10</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >locationCode</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It should be loccode or extloccode</td></tr><tr align="center"><td style="vertical-align:middle" >delFulfillmentMode</td><td style="vertical-align:middle" >Varchar(1)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are 1 or 2</td></tr><tr align="center"><td style="vertical-align:middle" >shipmentType</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Length can not be greater than 50 for SKU </td></tr><tr align="center"><td style="vertical-align:middle" >shipby_date</td><td style="vertical-align:middle" >Datetime</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Applicable only when mode = 'Dropship' .  Need to pass line level ship by date for ds orders.</td></tr><tr align="center"><td style="vertical-align:middle" >discountPercent</td><td style="vertical-align:middle" >Decimal(20,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle"> value should be between 0 and 100</td></tr><tr align="center"><td style="vertical-align:middle" >isPhysicalGiftCard</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle">Varchar(5)</td><td style="vertical-align:middle">Possible Values Yes or No</td></tr><tr align="center"><td style="vertical-align:middle" >giftCardNo</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle">Varchar(50)</td><td style="vertical-align:middle">Unique identifier for the gift card associated with the order line.</td></tr><tr align="center"><td style="vertical-align:middle" >giftMessage</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle">Varchar(5000)</td><td style="vertical-align:middle">Personalized message for gift wrap.</td></tr><tr align="center"><td style="vertical-align:middle" >discount_code</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle">Varchar(150)</td><td style="vertical-align:middle">Any code for discount.</td></tr><tr align="center"><td style="vertical-align:middle" >order_line_tags</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle">Array</td><td style="vertical-align:middle">List of tags associated with the specific order line item.</td></tr><tr align="center"><td style="vertical-align:middle" >pickingInstructions</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Maximum allowded are 10</td></tr><tr align="center"><td style="vertical-align:middle" >shippingInstructions</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Maximum allowded are 10.</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Payment Details</b></td></tr><tr align="center"><td style="vertical-align:middle" >paymentMode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:left">Cheque/Giftcard Redemption Amount/Loyalty Points/Wallet/IMPS/Multi Finance/NETB/DD/Credit Card/Debit Card/Cash/Coupon/Store Credit/Credit/Advance Payment</td></tr><tr align="center"><td style="vertical-align:middle" >docNo</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Transaction document number</td></tr><tr align="center"><td style="vertical-align:middle" >docdate</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Date of the payment document in a suitable format DD/MM/YYYY HH:MM:SS</td></tr><tr align="center"><td style="vertical-align:middle" >docBank</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Name of the bank associated with the payment document.</td></tr><tr align="center"><td style="vertical-align:middle" >ifscCode</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >IFSC code of the bank branch associated with the transaction.</td></tr><tr align="center"><td style="vertical-align:middle" >docAmt</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Amount specified in the payment document.</td></tr><tr align="center"><td style="vertical-align:middle" >amountreceived</td></td><td style="vertical-align:middle" >Decimal(10,3)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Total amount received as part of the payment.</td></tr><tr align="center"><td style="vertical-align:middle" >branch</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Branch name associated with the payment or document, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >authCode</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Authentication code </td></tr><tr align="center"><td style="vertical-align:middle" >edcNo</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >edc Number</td></tr><tr align="center"><td style="vertical-align:middle" >udf1</td></td><td style="vertical-align:middle" >Varchar(2000)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Items UDF1 must NOT be greater than 2000 characters</td></tr><tr align="center"><td style="vertical-align:middle" >udf2</td></td><td style="vertical-align:middle" >Varchar(2000)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Items UDF2 must NOT be greater than 2000 characters</td></tr><tr align="center"><td style="vertical-align:middle" >udf3</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf4</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf5</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf6</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf7</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf8</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf9</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf10</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr><td style="vertical-align:middle" colspan=4>
            <b>JSON FORMAT-<br/>
           {</br>&nbsp;&nbsp;"order":{</br>&nbsp;&nbsp;&nbsp;&nbsp;"order_location":"TWH",</br>&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;"order_no":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;"master_order_no":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"order_type":"Prepaid",</br>&nbsp;&nbsp;&nbsp;&nbsp;"payment_type":"Credit Card",</br>&nbsp;&nbsp;&nbsp;&nbsp;"awbNo":"9876543",</br>&nbsp;&nbsp;&nbsp;&nbsp;"status":"Confirmed",</br>&nbsp;&nbsp;&nbsp;&nbsp;"hold_status":"no",</br>&nbsp;&nbsp;&nbsp;&nbsp;"address_verified":"yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;"payment_verified":"yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;"address_type":"Office",</br>&nbsp;&nbsp;&nbsp;&nbsp;"order_date":"14/12/2016 15:40:30",</br>&nbsp;&nbsp;&nbsp;&nbsp;"shipby_date":"14/12/2016 15:40:30",</br>&nbsp;&nbsp;&nbsp;&nbsp;"expDelDate":"14/12/2016 15:40:30",</br>&nbsp;&nbsp;&nbsp;&nbsp;"order_amount":"2000.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;"order_currency":"GBP",</br>&nbsp;&nbsp;&nbsp;&nbsp;"conversion_rate":"1.41",</br>&nbsp;&nbsp;&nbsp;&nbsp;"original_orderno":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"is_replacement":"no",</br>&nbsp;&nbsp;&nbsp;&nbsp;"customer_code":"999999",</br>&nbsp;&nbsp;&nbsp;&nbsp;"extCustomerCode":"CUST01",</br>&nbsp;&nbsp;&nbsp;&nbsp;"customer_name":"Anuj Kaul",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_address1":"House number 50, First Floor",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_address2":"ABC Road, Green Park",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_address3":"123",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_address4":"XYZ",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_city":"Mumbai",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_state":"Maharashtra",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_country":"India",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_pincode":"400001",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_phone1":"9999112233",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_phone2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_email1":"anujkaul86@gmail.com",</br>&nbsp;&nbsp;&nbsp;&nbsp;"ship_email2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_name":"Anuj Kaul",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_address1":"House number 50, First Floor",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_address2":"ABC Road, Green Park",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_address3":"123",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_address4":"XYZ",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_city":"Mumbai",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_state":"Maharashtra",</br>&nbsp;&nbsp;&nbsp;&nbsp;"landmark":"Sector-63",</br>&nbsp;&nbsp;&nbsp;&nbsp;"latitude":"12.345675",</br>&nbsp;&nbsp;&nbsp;&nbsp;"longitude":"23.123456",</br>&nbsp;&nbsp;&nbsp;&nbsp;"url":"https://images.pexels.com/photos/814264/pexels-photo-814264.jpeg?auto=compress&cs=tinysrgb&h=350",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_country":"India",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_pincode":"400001",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_phone1":"9999112233",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_phone2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_email1":"anujkaul86@gmail.com",</br>&nbsp;&nbsp;&nbsp;&nbsp;"bill_email2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"order_remarks":"Please use bubble wrap",</br>&nbsp;&nbsp;&nbsp;&nbsp;"shipping_charges":"99.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;"other_charge1":"20.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;"other_charge2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"store_credit":"50.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;"other_discount":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"discount_code":"BEP10212",</br>&nbsp;&nbsp;&nbsp;&nbsp;"cancel_remark":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"is_giftwrap":"Yes",</br>&nbsp;&nbsp;&nbsp;&nbsp;"giftwrap_msg":"Congratulations",</br>&nbsp;&nbsp;&nbsp;&nbsp;"delivery_slot":"14:00-17:00",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf6":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf7":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf8":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf9":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf10":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf11":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf12":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf13":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf14":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"udf15":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"custTinNo":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pickAfterDate":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"giftwrapCharge":null,</br>&nbsp;&nbsp;&nbsp;&nbsp;"rewardPointsAmount":0,</br>&nbsp;&nbsp;&nbsp;&nbsp;"cust_type":"B2B",</br>&nbsp;&nbsp;&nbsp;&nbsp;"req_type":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pickupLocation":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"handoverValCode":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"geoType" :"What3WorDS",</br>&nbsp;&nbsp;&nbsp;&nbsp;"geoAddress" :"101 add",</br>&nbsp;&nbsp;&nbsp;&nbsp;"geoLatitude":"101 latitude",</br>&nbsp;&nbsp;&nbsp;&nbsp;"geoLongitude":"101 longitude",</br>&nbsp;&nbsp;&nbsp;&nbsp;"orderProcessing":"B2C",</br>&nbsp;&nbsp;&nbsp;&nbsp;"identificationId":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"identificationCode":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"userConsent":"Y",</br>&nbsp;&nbsp;&nbsp;&nbsp;"tags":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"viewDetails":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"pickingInstructions":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"shippingInstructions":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;"distributionType":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;"items":[</br>&nbsp;&nbsp;&nbsp;&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"lineno":"1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"sku":"T04TAP0858-178",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"channelSkuCode":"8196511",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"channelProductId":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"order_qty":"2",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"cancelled_qty":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"unit_price":"450.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"bundle_sku":"T04TAP0858",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"bundle_price":"500.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"bundle_qty":"2",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"bagId":"00000005-667556246964-1",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"mrp":"500.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"discount_amt":"70.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"gift_voucher_amt":"30.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"shipping_charges":"99.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"other_charge1":"20.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"transporter":"12345",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"store_credit":"50.00",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"is_giftcard":"No",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"vendor":"12345",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"mode":"wms",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"tax_inclusive":"YES",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"tax_percentage":"5",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf6":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf7":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf8":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf9":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf10":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"locationCode":"NWB",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"delFulfillmentMode":"2",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"isPhysicalGiftCard":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"giftCardNo":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"giftMessage":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"discount_code":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"order_line_tags":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"pickingInstructions":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"shippingInstructions":[],</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"shipmentType":"single",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"shipby_date":"14/12/2016 15:15:30",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"discountPercent":"0"</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"paymentItems":[<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"paymentMode":"Cash",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"docNo":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"docdate":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"docBank":"Axis",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"ifscCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"docAmt":"100.00",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"amountreceived":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"branch":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"authCode":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"edcNo":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf1":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf2":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf3":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf4":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf5":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf6":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf7":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf8":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf9":"",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"udf10":""<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]</br>&nbsp;&nbsp;}</br>}</b> </tbody> </table>
        - in: formData
          name: ApiOwner
          required: true
          type: string
          description: API Owner.
        - in: formData
          name: ApiKey
          required: true
          type: string
          description: API Key.
      responses:
        200:
          description: <table border='1'width='672'> <h1  style="color:#FFFF00;">API Generic Error Codes</h1><tbody><tr align="center"><td style="vertical-align:middle" width='167'><p><strong>Response Code </strong></p></td><td style="vertical-align:middle" colspan='2' width='171'><p><strong> Response Message </strong></p></td><tr align="center"><td style="vertical-align:middle" width='167'><p>463</p></td><td style="vertical-align:middle" width='167'><p>Generic Error.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>501</p></td><td style="vertical-align:middle" width='167'><p>No Access for given Order Location.</p></td><tr align="center"><td style="vertical-align:middle" width='167'><p>502</p></td><td style="vertical-align:middle" width='167'><p>Order Location is mandatory.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>504</p></td><td style="vertical-align:middle" width='167'><p>Order_no is mandatory and must be unique within the request.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>808</p></td><td style="vertical-align:middle" width='167'><p>Order Status mandatory for filter, Please check.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>810</p></td><td style="vertical-align:middle" width='167'><p>Multiple Location Found in ERP for given location.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9006</p></td><td style="vertical-align:middle" width='167'><p>Invalid location.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9005</p></td><td style="vertical-align:middle" width='167'><p>Order Location is mandatory.</p></td></tr><tr align="center"><td style="vertical-align:middle" width='167'><p>9007</p></td><td style="vertical-align:middle" width='167'><p>No Access for given Order Location.</p></td></tr><td style="vertical-align:middle" colspan=4> 
            <b>Case 1- When order created with mode="wms" or mode ="" or no tag passed</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":0,</br>&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;"requestStatus":{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":"TWH968",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":null,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorCode":null</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;}</br></br>&nbsp;Case 2- When order created with mode="dropship"</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":0,</br>&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;"requestStatus":{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":null ,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorCode":null,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"dsOrderNo":" 300301"</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;}</br></br>&nbsp;Case 3- When order created with mode="dropship" & "wms" both</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":0,</br>&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;"requestStatus":{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":"TWH968",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":null,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorCode":null,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"dsOrderNo":"300301"</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;}</br></br>&nbsp;Case 4- When order created with mode="dropship" with different vendor code</br>&nbsp;{</br>&nbsp;&nbsp;&nbsp;&nbsp;"responseCode":0,</br>&nbsp;&nbsp;&nbsp;&nbsp;"responseMessage":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;"requestStatus":{</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"uniqueKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"requestKey":"300301",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"outputKey":"",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"status":"Success",</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorDesc":null,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"errorCode":null,</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"dsOrderNo":"300301-1, 300301-2"</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>&nbsp;}</b></td></tr><br/></tbody></table><p>&nbsp;</p></tbody></table>
      
  /RestWS/api/eretail/v4/order/create:
    post:
      tags: 
      - Orders
      summary: API For Creating Order(Hit Quota 80/5 min)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: header
          name: ApiOwner
          required: true
          type: string
          description: API Owner
        - in: header
          name: ApiKey
          required: true
          type: string
          description: API Key.
        - in: body
          name: OrderJSON
          description: <table></table><br><table class="table-style-three"><tbody><tr align="center"><td style="vertical-align:middle" width='100'><strong>Field Name </strong></td><td style="vertical-align:middle" width='100'><strong>Data Type </strong></td><td style="vertical-align:middle" width='100'><strong>Mandatory </strong></td><td style="vertical-align:middle" width='300'><strong>Description </strong></td></tr><tr align="center"><td style="vertical-align:middle" >orderLocation</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >The Channel code that is used to identify the Channel/Source from where the order was received</td></tr><tr align="center"><td style="vertical-align:middle" >awbNo</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Tracking Number</td></tr><tr align="center"><td style="vertical-align:middle" >uniqueKey</td><td style="vertical-align:middle" >Varchar(15)</td><td style="vertical-align:middle">Optional</td><td style="veritcal-align:middle">Field uniqueKey is unique identifier to identify the particular order. It has to be unique within the call</td></tr><tr align="center"><td style="vertical-align:middle" >orderNo</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Orderno from external system</td></tr><tr align="center"><td style="vertical-align:middle" >orderType</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >e.g. COD, Prepaid. Master Code:ODRTYPE</td></tr><tr align="center"><td style="vertical-align:middle" >paymentType</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >e.g. Credit Card, Cash</td></tr><tr align="center"><td style="vertical-align:middle" >status</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >&nbsp;e. g. Pending, Confirmed. Master Code:ODRSTS&nbsp;</td></tr><tr align="center"><td style="vertical-align:middle" >holdStatus</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. yes ,no</td></tr><tr align="center"><td style="vertical-align:middle" >addressVerified</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. yes ,no</td></tr><tr align="center"><td style="vertical-align:middle" >paymentVerified</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. yes ,no</td></tr><tr align="center"><td style="vertical-align:middle" >addressType</td><td style="vertical-align:middle" >Varchar(2)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible values are Home , Office, Work and Other</td></tr><tr align="center"><td style="vertical-align:middle" >orderDate</td><td style="vertical-align:middle" >Datetime</td><td style="vertical-align:middle">Mandatory</td><td style="vertical-align:middle" >Format given in Generic Information section</td></tr><tr align="center"><td style="vertical-align:middle" >shipbyDate</td><td style="vertical-align:middle" >Datetime</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Format given in Generic Information section</td></tr><tr align="center"><td style="vertical-align:middle" >orderCurrency</td><td style="vertical-align:middle" >Varchar(10)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >e.g. INR, USD</td></tr><tr align="center"><td style="vertical-align:middle" >conversionRate</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Exchange rate used for currency conversion to organisation base currency</td></tr><tr align="center"><td style="vertical-align:middle" >isReplacement</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Yes/No , For Creating replacement order pass value as "Yes"</td></tr><tr align="center"><td style="vertical-align:middle" >originalOrderNo</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >If is_replacement='Yes' then this field is mandatory</td></tr><tr align="center"><td style="vertical-align:middle" >customerCode</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" ><p>If customer code will be provided then order will be created with provided customer code</p></td></tr><tr align="center"><td style="vertical-align:middle" >extCustomerCode</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" ><p>If extcustomer code will be provided then order will be created with provided extcustomer code</p></td></tr><tr align="center"><td style="vertical-align:middle" >customerName</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Name of the customer placing the order, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >shipAddress1</td><td style="vertical-align:middle" >Varchar(1000)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle" >Primary shipping address line for the order, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >shipAddress2</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary shipping address line (if applicable).</td></tr><tr align="center"><td style="vertical-align:middle" >shipAddress3</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle" >Additional shipping address line (if applicable).</td></tr><tr align="center"><td style="vertical-align:middle" >shipAddress4</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Extra field for additional address details.</td></tr><tr align="center"><td style="vertical-align:middle" >shipCity</td><td style="vertical-align:middle" >Varchar(40)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >City name for the shipping address, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >shipState</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >State name for the shipping address, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >shipCountry</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Country name for the shipping address, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >shipPinCode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Pincode for the shipping address, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >shipPhone1</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Primary contact phone number for shipping, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >shipPhone2</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary contact phone number for shipping (if available).</td></tr><tr align="center"><td style="vertical-align:middle" >shipEmail1</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Primary email address for shipping communication, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >shipEmail2</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary email address for shipping communication (if available).</td></tr><tr align="center"><td style="vertical-align:middle" >billName</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Name of the person or entity for billing purposes, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >billAddress1</td><td style="vertical-align:middle" >Varchar(1000)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Primary billing address line, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >billAddress2</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary billing address line (if applicable).</td></tr><tr align="center"><td style="vertical-align:middle" >billAddress3</td><td style="vertical-align:middle" >Varchar(200)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle" >Additional billing address line (if applicable).</td></tr><tr align="center"><td style="vertical-align:middle" >billAddress4</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >billAddress4</td></tr><tr align="center"><td style="vertical-align:middle" >billCity</td><td style="vertical-align:middle" >Varchar(40)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >City name for the billing address, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >billState</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >State name for the billing address, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >landmark</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Landmark or nearby reference for the billing address, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >latitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Latitudes range from -90 to 90, e. g. 17.572375290155</td></tr><tr align="center"><td style="vertical-align:middle" >longitude</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Longitudes range from -180 to 80, e. g. -179.572375290155</td></tr><tr align="center"><td style="vertical-align:middle" >url</td><td style="vertical-align:middle" >Varchar(300)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >URL associated with the order, such as website landing page link, Order status= confirmed then the URL must get embedded.</td></tr><tr align="center"><td style="vertical-align:middle" >billCountry</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Country name for the billing address, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >billPinCode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Conditional</td><td style="vertical-align:middle">Postal code for the billing address, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >billPhone1</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Primary contact phone number for billing, if customer code is passed then optional</td></tr><tr align="center"><td style="vertical-align:middle" >billPhone2</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >An alternate phone number for billing-related communication.</td></tr><tr align="center"><td style="vertical-align:middle" >billEmail1</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Primary email address for billing communication, if customer code is passed then optional.</td></tr><tr align="center"><td style="vertical-align:middle" >billEmail2</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Secondary email address for billing communication (if available).</td></tr><tr align="center"><td style="vertical-align:middle" >orderRemarks</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Remarks against order</td></tr><tr align="center"><td style="vertical-align:middle" >shippingCharges</td><td style="vertical-align:middle" >decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Charges for shipping the order, in the specified currency.</td></tr><tr align="center"><td style="vertical-align:middle" >otherCharge1</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Additional charges for the order (e.g., handling fees).</td></tr><tr align="center"><td style="vertical-align:middle" >otherCharge2</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Any other applicable charges for the order.</td></tr><tr align="center"><td style="vertical-align:middle" >storeCredit</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Store credit applied to the order, if any.</td></tr><tr align="center"><td style="vertical-align:middle" >discountCode</td><td style="vertical-align:middle" >Varchar(150)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Discount code applied to the order</td></tr><tr align="center"><td style="vertical-align:middle" >cancelRemark</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Remarks or reasons for canceling the order, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >isGiftWrap</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible Values Yes/No</td></tr><tr align="center"><td style="vertical-align:middle" >giftWrapMsg</td><td style="vertical-align:middle" >Varchar(500)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Giftwrap Message</td></tr><tr align="center"><td style="vertical-align:middle" >deliverySlot</td><td style="vertical-align:middle" >Integer</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. 14:00-17:00</td></tr><tr align="center"><td style="vertical-align:middle" >udf1</td><td style="vertical-align:middle" >Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Items UDF1 must NOT be greater than 2000 characters</td></tr><tr align="center"><td style="vertical-align:middle" >udf2</td><td style="vertical-align:middle" >Varchar(2000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Items UDF2 must NOT be greater than 2000 characters</td></tr><tr align="center"><td style="vertical-align:middle" >udf3</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf4</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf5</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf6</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf7</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf8</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf9</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf10</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf11</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf12</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf13</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf14</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf15</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >custTinNo</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Customer TIN No.</td></tr><tr align="center"><td style="vertical-align:middle" >pickAfterDate</td><td style="vertical-align:middle" >Datetime</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Pick After date, Date format should be like DD/MM/YYYY HH:MM:SS</td></tr><tr align="center"><td style="vertical-align:middle" >custType</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible values are B2B, B2C etc, Default B2C</td></tr><tr align="center"><td style="vertical-align:middle" >reqType</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle" >create/update , For "create" value it check is order already exist or not </td></tr><tr align="center"><td style="vertical-align:middle" >pickupLocation</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle" >Orders should be routed to the location that is being passed in this field</td></tr><tr align="center"><td style="vertical-align:middle" >handoverValCode</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Handover validation code for the handover process</td></tr><tr align="center"><td style="vertical-align:middle" >orderProcessing</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible values are B2B, B2C etc, Default B2C</td></tr><tr align="center"><td style="vertical-align:middle" >userConsent</td><td style="vertical-align:middle" >int(4)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible values are Y/N, Default Y</td></tr><tr align="center"><td style="vertical-align:middle" >identificationId </td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Define in codelkup table with lkupcode "IDNTFYBUYRCODE"</td></tr><tr align="center"><td style="vertical-align:middle" >identificationCode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" > if identificationId is not null then identificationCode is mandatory</td></tr><tr align="center"><td style="vertical-align:middle" >pickingInstructions </td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Maximum allowded are 10</td></tr><tr align="center"><td style="vertical-align:middle" >shippingInstructions </td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Maximum allowded are 10</td></tr><tr align="center"><td style="vertical-align:middle" >distributionType </td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Distribution Type</td></tr><tr align="center"><td style="vertical-align:middle" >giftwrapCharge </td><td style="vertical-align:middle" >Decimal(10,5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Additional charge applied for gift-wrapping services, if opted.</td></tr><tr align="center"><td style="vertical-align:middle" >rewardPointsAmount </td><td style="vertical-align:middle" >Decimal(10,5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Amount redeemed using customer reward points for this order.</td></tr><tr align="center"><td style="vertical-align:middle" >tags</td><td style="vertical-align:middle" >Array</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Allowed max 10 ordertags, comma seprated</td></tr><tr align="center"><td style="vertical-align:middle" >viewDetails</td><td style="vertical-align:middle" >Varchar(5)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Possible Values are 1(to view SKU details with status),0</td></tr><tr align="center"><td style="vertical-align:middle" >orderAmount </td><td style="vertical-align:middle" >Array</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Total amount for the order, including item costs, shipping charges, and applicable taxes.</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Items Fields</b></td></tr><tr align="center"><td style="vertical-align:middle" >lineno</td><td style="vertical-align:middle" >Varchar(255)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >Lineno of external system</td></tr><tr align="center"><td style="vertical-align:middle" >sku</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >SKU code from masters </td></tr><tr align="center"><td style="vertical-align:middle" >channelSkuCode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >External System SKU code/Marketplace SKU code</td></tr><tr align="center"><td style="vertical-align:middle" >channelProductId</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >ProductId of the SKU created in external system/Marketplace</td></tr><tr align="center"><td style="vertical-align:middle" >orderQty</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Mandatory</td><td style="vertical-align:middle" >The quantity of the item ordered.</td></tr><tr align="center"><td style="vertical-align:middle" >cancelledQty</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >The quantity of the item that has been canceled from the order, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >unitPrice</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">The price per unit of the item ordered.</td></tr><tr align="center"><td style="vertical-align:middle" >bundleSku</td><td style="vertical-align:middle" >Varchar(100)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >SKU code for the bundle if the order contains bundled items</td></tr><tr align="center"><td style="vertical-align:middle" >bundlePrice</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Mandatory when bundle_sku is passed</td></tr><tr align="center"><td style="vertical-align:middle" >bundleQty</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Conditional</td><td style="vertical-align:middle" >Mandatory when bundle_sku is passed</td></tr><tr align="center"><td style="vertical-align:middle" >bagId</td><td style="vertical-align:middle" >Varchar(250)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >If BagId is entered, the quantity of the SKU must not exceed 1, Multiple BagId can be given using comma separated values</td></tr><tr align="center"><td style="vertical-align:middle" >mrp</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >MRP of the item being ordered.</td></tr><tr align="center"><td style="vertical-align:middle" >discountAmt</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Total discount amount applied to the order line.</td></tr><tr align="center"><td style="vertical-align:middle" >giftVoucherAmt</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Amount redeemed from a gift voucher or coupon for the order line.</td></tr><tr align="center"><td style="vertical-align:middle" >shippingCharges</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Cost of shipping the order line, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >otherCharge1</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Any additional charge associated with the order, such as handling fees or service charges.</td></tr><tr align="center"><td style="vertical-align:middle" >transporter</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Transporter code as per masters, Multiple transporters can be given using comma separated values</td></tr><tr align="center"><td style="vertical-align:middle" >storeCredit</td><td style="vertical-align:middle" >Decimal(10,3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Store credit applied to the order line, if any.</td></tr><tr align="center"><td style="vertical-align:middle" >isGiftCard</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Yes/No</td></tr><tr align="center"><td style="vertical-align:middle" >vendor</td><td style="vertical-align:middle" >Varchar(10)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Vendor code as per masters</td></tr><tr align="center"><td style="vertical-align:middle" >mode</td><td style="vertical-align:middle" >Varchar(8)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >e.g. wms , dropship ,""</td></tr><tr align="center"><td style="vertical-align:middle" >taxInclusive</td><td style="vertical-align:middle" >Varchar(3)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Acceptable values are Yes/No</td></tr><tr align="center"><td style="vertical-align:middle" >taxPercentage</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle" >Optional</td><td style="vertical-align:middle" >Tax percentage applied to an order</td></tr><tr align="center"><td style="vertical-align:middle" >udf1</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf2</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf3</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf4</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf5</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf6</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf7</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf8</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf9</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf10</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >locationCode</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">It should be loccode or extloccode</td></tr><tr align="center"><td style="vertical-align:middle" >delFulfillmentMode</td><td style="vertical-align:middle" >Varchar(1)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible values are 1 or 2</td></tr><tr align="center"><td style="vertical-align:middle" >shipmentType</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Length can not be greater than 50 for SKU</td></tr><tr align="center"><td style="vertical-align:middle">uom</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Unit of Measurement</td></tr><tr align="center"><td style="vertical-align:middle">discountPercent</td><td style="vertical-align:middle" >Decima(20,3)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">DiscountPercent value should be between 0 and 100</td></tr><tr align="center"><td style="vertical-align:middle">isPhysicalGiftCard</td><td style="vertical-align:middle" >Optional(5)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Possible Values Yes or No</td></tr><tr align="center"><td style="vertical-align:middle">giftCardNo</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Unique identifier for the gift card associated with the order line.</td></tr><tr align="center"><td style="vertical-align:middle">giftWrapType</td><td style="vertical-align:middle" >Varchar(20)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Free text field specifying the type of gift wrapping.</td></tr><tr align="center"><td style="vertical-align:middle">giftMessage</td><td style="vertical-align:middle" >Varchar(5000)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Personalized message for gift wrap.</td></tr><tr align="center"><td style="vertical-align:middle">pickingInstructions</td><td style="vertical-align:middle" >Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Maximum allowded are 10</td></tr><tr align="center"><td style="vertical-align:middle">shippingInstructions</td><td style="vertical-align:middle" >Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">Maximum allowded are  10</td></tr><tr align="center"><td style="vertical-align:middle">orderLineTags</td><td style="vertical-align:middle" >Array</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:middle">List of tags associated with the specific order line item.</td></tr><tr align="center"><td style="vertical-align:middle" colspan=4 ><b>Payment Details</b></td></tr><tr align="center"><td style="vertical-align:middle" >paymentMode</td><td style="vertical-align:middle" >Varchar(50)</td><td style="vertical-align:middle">Optional</td><td style="vertical-align:left">eg Cheque/Giftcard Redemption Amount/Loyalty Points. (LOV defined under "paymode")</td></tr><tr align="center"><td style="vertical-align:middle" >docNo</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Transaction document number</td></tr><tr align="center"><td style="vertical-align:middle" >docDate</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Date of the payment document in a suitable format DD/MM/YYYY HH:MM:SS</td></tr><tr align="center"><td style="vertical-align:middle" >docBank</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Name of the bank associated with the payment document.</td></tr><tr align="center"><td style="vertical-align:middle" >ifscCode</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >IFSC code of the bank branch associated with the transaction.</td></tr><tr align="center"><td style="vertical-align:middle" >docAmt</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Amount specified in the payment document.</td></tr><tr align="center"><td style="vertical-align:middle" >amountReceived</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Total amount received as part of the payment.</td></tr><tr align="center"><td style="vertical-align:middle" >branch</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >Branch name associated with the payment or document, if applicable.</td></tr><tr align="center"><td style="vertical-align:middle" >authCode</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >authCode</td></tr><tr align="center"><td style="vertical-align:middle" >edcNo</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >edc Number</td></tr><tr align="center"><td style="vertical-align:middle" >udf1</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf2</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf3</td></td><td style="vertical-align:middle" >Varchar(50)</td></td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf4</td></td><td style="vertical-align:middle" >Varchar(50)</td>User Defined Field</td><td style="vertical-align:middle" >Optional</td></td></td><td style="vertical-align:middle" >User Defined Field</td></tr><tr align="center"><td style="vertical-align:middle" >udf5</td></td><td style="vertical-al
[...]
